In [1]:
import json
import pandas as pd
import numpy as np
import csv
import time

# converting business.json to business.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_business = []
counter =0
with open('/Users/kemalm/Desktop/yelp_dataset/business.json',encoding='utf-8') as f:
    for line in f:
        listOfDicts_business.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 192609 dictionaries.
Execution time:  3.6180918216705322  seconds.

In [4]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/business.json

  192609 /Users/kemalm/Desktop/yelp_dataset/business.json

### naming a list of attributes

In [2]:
attr_arr = np.array(['business_id', 'name', 'address', 'city', 'state', 
                     'postal_code', 'latitude', 'longitude', 'stars', 
                     'review_count', 'is_open', 'attributes', 'categories', 'hours'])
print(attr_arr, type(attr_arr))

['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'attributes' 'categories'
 'hours'] <class 'numpy.ndarray'>

<h3> checking if all json objects, we obtained from <i style="color:blue">business.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [6]:
df_containsfield= np.zeros((len(listOfDicts_business),len(attr_arr)))

for i in range(0,len(listOfDicts_business)):
    df_containsfield[i,:] = np.isin(attr_arr, np.array(list(listOfDicts_business[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((attr_arr.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(attr_arr)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

192609  number of records

Key associated with its frequency:
 [['business_id' 192609.0]
 ['name' 192609.0]
 ['address' 192609.0]
 ['city' 192609.0]
 ['state' 192609.0]
 ['postal_code' 192609.0]
 ['latitude' 192609.0]
 ['longitude' 192609.0]
 ['stars' 192609.0]
 ['review_count' 192609.0]
 ['is_open' 192609.0]
 ['attributes' 192609.0]
 ['categories' 192609.0]
 ['hours' 192609.0]]

<h3> number of null values per column</h3>

In [7]:
start = time.time()
for a in list(attr_arr):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/business.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

business_id
       0
name
       0
address
       0
city
       0
state
       0
postal_code
       0
latitude
       0
longitude
       0
stars
       0
review_count
       0
is_open
       0
attributes
   28836
categories
     482
hours
   44830

<h3> Creating a <i style="color:blue"> business.csv </i> file and writing data to it. </h3>

In [6]:
class mydict(dict):
        def __str__(self):
            return json.dumps(self)

In [15]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/business.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,list(attr_arr), delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_business:
        tempDict=dict(dictObj)    
        if tempDict.get('attributes') is not None:
            tempDict['attributes'] = mydict(tempDict['attributes']).__str__()
        else:
            tempDict['attributes']="{}"
            
        if tempDict.get('hours') is not None:
            tempDict['hours'] = mydict(tempDict['hours']).__str__()
        else:
            tempDict['hours']="{}"
        writer.writerow(tempDict)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 192609 rows
Execution time:  6.614404201507568  seconds.

# converting user.json to user.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_user = []
with open('/Users/kemalm/Desktop/yelp_dataset/user.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_user.append(json.loads(line))
        counter+=1
endend  = time.time()
print("Successfully appended {} rows".format(counter))
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 1637138 rows
Execution time:  42.027015209198  seconds.

In [5]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/user.json

 1637138 /Users/kemalm/Desktop/yelp_dataset/user.json

In [4]:
len(listOfDicts_user)

1637138

### naming a list of attributes

In [8]:
arr_user = np.array(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 
                     'funny', 'cool', 'elite', 'friends', 'fans', 
                     'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 
                     'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 
                     'compliment_writer', 'compliment_photos'])

<h3> checking if all json objects, we obtained from <i style="color:blue">user.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [9]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_user),len(arr_user)))

for i in range(0,len(listOfDicts_user)):
    df_containsfield[i,:] = np.isin(arr_user, np.array(list(listOfDicts_user[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_user.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_user)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

1637138  number of records

Key associated with its frequency:
 [['user_id' 1637138.0]
 ['name' 1637138.0]
 ['review_count' 1637138.0]
 ['yelping_since' 1637138.0]
 ['useful' 1637138.0]
 ['funny' 1637138.0]
 ['cool' 1637138.0]
 ['elite' 1637138.0]
 ['friends' 1637138.0]
 ['fans' 1637138.0]
 ['average_stars' 1637138.0]
 ['compliment_hot' 1637138.0]
 ['compliment_more' 1637138.0]
 ['compliment_profile' 1637138.0]
 ['compliment_cute' 1637138.0]
 ['compliment_list' 1637138.0]
 ['compliment_note' 1637138.0]
 ['compliment_plain' 1637138.0]
 ['compliment_cool' 1637138.0]
 ['compliment_funny' 1637138.0]
 ['compliment_writer' 1637138.0]
 ['compliment_photos' 1637138.0]]
Execution time:  111.81420087814331  seconds.

<h3> number of null values per column</h3> 
<h5 style="color:red;"> WARNING! Following method works very slow for very large datasets (user.json). </h5> 
<h5 style="color:red;"> Therefore, it shouldn't be run more than once. </h5>

In [9]:
start = time.time()
for a in list(arr_user):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/user.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

user_id
       0
name
       0
review_count
       0
yelping_since
       0
useful
       0
funny
       0
cool
       0
elite
       0
friends
       0
fans
       0
average_stars
       0
compliment_hot
       0
compliment_more
       0
compliment_profile
       0
compliment_cute
       0
compliment_list
       0
compliment_note
       0
compliment_plain
       0
compliment_cool
       0
compliment_funny
       0
compliment_writer
       0
compliment_photos
       0
Execution time:  963.2632689476013  seconds.

<h3> Creating a <i style="color:blue"> user.csv </i> file and writing data to it. </h3>

In [24]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/user.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,user_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_user:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 1637138 rows
Execution time:  75.70107102394104

In [47]:
!wc -l yelp_dataset/user.json
!echo "User.csv has one more row used as a header."
!wc -l yelp_dataset/user.csv

 1637138 yelp_dataset/user.json
User.csv has one more row used as a header.
 1637139 yelp_dataset/user.csv

# converting review.json to review.csv
### importing from json file

In [4]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_review = []
with open('/Users/kemalm/Desktop/yelp_dataset/review.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_review.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 6685900 dictionaries.
Execution time:  71.14869093894958  seconds.

In [6]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/review.json

 6685900 /Users/kemalm/Desktop/yelp_dataset/review.json

### naming a list of attributes

In [11]:
arr_review= np.array(['review_id', 'user_id', 'business_id', 'stars', 'useful',
                      'funny', 'cool', 'text', 'date'])

<h3> checking if all json objects, we obtained from <i style="color:blue">review.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_review),len(arr_review)))

for i in range(0,len(listOfDicts_review)):
    df_containsfield[i,:] = np.isin(arr_review, np.array(list(listOfDicts_review[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_review.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_review)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

6685900  number of records

Key associated with its frequency:
 [['review_id' 6685900.0]
 ['user_id' 6685900.0]
 ['business_id' 6685900.0]
 ['stars' 6685900.0]
 ['useful' 6685900.0]
 ['funny' 6685900.0]
 ['cool' 6685900.0]
 ['text' 6685900.0]
 ['date' 6685900.0]]
Execution time:  299.6732749938965  seconds.

<h3> number of null values per column</h3> 
<h5 style="color:red;"> WARNING! Following method works very slow for very large datasets (user.json). </h5> 
<h5 style="color:red;"> Therefore, it shouldn't be run more than once. </h5>

In [13]:
start = time.time()
for a in list(arr_review):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/review.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

review_id
       0
user_id
       0
business_id
       0
stars
       0
useful
       0
funny
       0
cool
       0
text
       0
date
       0
Execution time:  913.4484198093414  seconds.

In [3]:
review_cols = list(arr_review)
print(review_cols)

['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

<h3> Creating a <i style="color:blue"> review.csv </i> file and writing data to it. </h3>

In [4]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/review.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,review_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_review:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 6685900 rows
Execution time:  232.80819010734558  seconds.

# converting checkin.json to checkin.csv
### importing from json file

In [7]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_checkin = []
with open('/Users/kemalm/Desktop/yelp_dataset/checkin.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_checkin.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 161950 dictionaries.
Execution time:  2.0320558547973633  seconds.

In [3]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/checkin.json

  161950 /Users/kemalm/Desktop/yelp_dataset/checkin.json

### naming a list of attributes

In [15]:
arr_checkin = np.array(['business_id', 'date'])

<h3> checking if all json objects, we obtained from <i style="color:blue">checkin.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [12]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_checkin),len(arr_checkin)))

for i in range(0,len(listOfDicts_checkin)):
    df_containsfield[i,:] = np.isin(arr_checkin, np.array(list(listOfDicts_checkin[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_checkin.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_checkin)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

161950  number of records

Key associated with its frequency:
 [['business_id' 161950.0]
 ['date' 161950.0]]
Execution time:  2.568455934524536  seconds.

<h3> number of null values per column</h3>

In [16]:
start = time.time()
for a in list(arr_checkin):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/checkin.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

business_id
       0
date
       0
Execution time:  14.164305925369263  seconds.

In [13]:
checkin_cols = list(arr_checkin)
print(checkin_cols)

['business_id', 'date']

<h3> Creating a <i style="color:blue"> checkin.csv </i> file and writing data to it. </h3>

In [6]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/checkin.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,checkin_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_checkin:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 161950 rows
Execution time:  9.046382665634155  seconds.

In [8]:
!wc -l yelp_dataset/checkin.json
!wc -l yelp_dataset/checkin.csv

  161950 yelp_dataset/checkin.json
  161951 yelp_dataset/checkin.csv

# converting tip.json to tip.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_tip = []
with open('/Users/kemalm/Desktop/yelp_dataset/tip.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_tip.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 1223094 dictionaries.
Execution time:  6.717769145965576  seconds.

In [6]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/tip.json

 1223094 /Users/kemalm/Desktop/yelp_dataset/tip.json

### naming a list of attributes

In [17]:
arr_tip = np.array(['user_id', 'business_id', 'text', 'date', 'compliment_count'])

<h3> checking if all json objects, we obtained from <i style="color:blue">tip.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_tip),len(arr_tip)))

for i in range(0,len(listOfDicts_tip)):
    df_containsfield[i,:] = np.isin(arr_tip, np.array(list(listOfDicts_tip[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_tip.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_tip)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

1223094  number of records

Key associated with its frequency:
 [['user_id' 1223094.0]
 ['business_id' 1223094.0]
 ['text' 1223094.0]
 ['date' 1223094.0]
 ['compliment_count' 1223094.0]]
Execution time:  30.554124116897583  seconds.

<h3> number of null values per column</h3>

In [18]:
start = time.time()
for a in list(arr_tip):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/tip.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

user_id
       0
business_id
       0
text
       0
date
       0
compliment_count
       0
Execution time:  25.752610683441162  seconds.

In [9]:
tip_cols = list(arr_tip)
print(tip_cols)

['user_id', 'business_id', 'text', 'date', 'compliment_count']

<h3> Creating a <i style="color:blue"> tip.csv </i> file and writing data to it. </h3>

In [16]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/tip.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,tip_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_tip:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 1223094 rows
Execution time:  8.033058166503906  seconds.

# converting photo.json to photo.csv
### importing from json file

In [6]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_photo = []
with open('/Users/kemalm/Desktop/yelp_dataset/photo.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_photo.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 200000 dictionaries.
Execution time:  0.9235949516296387  seconds.

In [2]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/photo.json

  200000 /Users/kemalm/Desktop/yelp_dataset/photo.json

### naming a list of attributes

In [20]:
arr_photo = np.array(['caption', 'photo_id', 'business_id', 'label'])

<h3> checking if all json objects, we obtained from <i style="color:blue">photo.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_photo),len(arr_photo)))

for i in range(0,len(listOfDicts_photo)):
    df_containsfield[i,:] = np.isin(arr_photo, np.array(list(listOfDicts_photo[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_photo.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_photo)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

200000  number of records

Key associated with its frequency:
 [['caption' 200000.0]
 ['photo_id' 200000.0]
 ['business_id' 200000.0]
 ['label' 200000.0]]
Execution time:  4.147678852081299  seconds.

<h3> number of null values per column</h3>

In [21]:
start = time.time()
for a in list(arr_photo):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/photo.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

caption
       0
photo_id
       0
business_id
       0
label
       0
Execution time:  3.233721971511841  seconds.

In [9]:
photo_cols = list(arr_photo)
print(photo_cols)

['caption', 'photo_id', 'business_id', 'label']

<h3> Creating a <i style="color:blue"> photo.csv </i> file and writing data to it. </h3>

In [13]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/photo.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,photo_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_photo:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

NameError: name 'csv' is not defined

# Python-to-PostgreSQL client

In [1]:
import psycopg2
import pandas as pd

In [2]:
try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")

In [3]:
cur = conn.cursor()
#cur.execute("""select city,state, count(business_id)
#                from Businesses
#                where is_open = 1
#                group by city,state
#                order by 3 desc
#                limit 10""")
#recordsDB = cur.fetchall()

In [5]:
cur = conn.cursor()
cur.execute("""select business_id, name, address, city, state, latitude, longitude, categories, is_open
                from Businesses""")
recordsDB = cur.fetchall()

# Frequency

### US/Canada states/provinces by number of businesses

In [19]:
cur.execute("""SELECT state,  COUNT(business_id) AS Total_Count
               FROM Businesses
               WHERE is_open = 1
               GROUP BY state 
               ORDER BY 2 DESC""")
freqrecords = cur.fetchall()

In [20]:
pd.DataFrame(freqrecords, columns=['State','Total # of businesses']).head(10)

  State  Total # of businesses
0    AZ                  46910
1    NV                  29562
2    ON                  26525
3    OH                  12546
4    NC                  12419
5    PA                   9430
6    QC                   7623
7    AB                   6694
8    WI                   4210
9    IL                   1545

### Cities by number of businesses

In [17]:
cur.execute("""select city,state, count(business_id)
               from Businesses
               where is_open = 1
               group by city,state
               order by 3 desc""")
freqrecords = cur.fetchall()

In [18]:
pd.DataFrame(freqrecords, columns=['City','State','Total # of businesses']).head(10)

         City State  Total # of businesses
0   Las Vegas    NV                  23784
1     Phoenix    AZ                  15471
2     Toronto    ON                  14329
3   Charlotte    NC                   7945
4  Scottsdale    AZ                   7081
5     Calgary    AB                   6445
6  Pittsburgh    PA                   5736
7    Montréal    QC                   5163
8        Mesa    AZ                   5149
9   Henderson    NV                   4026

# Google Places: Sending HTTP Requests

In [16]:
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import numpy as np
import random as rn
import json

In [17]:
key_content= !cat /Users/kemalm/Desktop/gmAPI.txt
api_key = key_content[0]

In [18]:
fields = ['business_id','name', 'address', 'city', 'state', 'latitude', 'longitude', 'categories', 'is_open', 'hours']
#k = np.core.defchararray.add(np.array(['obt_']),np.array(fields))

#print(k)
indices =[x for x in range(0,len(fields))]
#print(indices)
mapDictIndexes = dict(zip(fields,indices))
print(mapDictIndexes)

{'business_id': 0, 'name': 1, 'address': 2, 'city': 3, 'state': 4, 'latitude': 5, 'longitude': 6, 'categories': 7, 'is_open': 8, 'hours': 9}

In [19]:
coordinates = np.array([[0,0],
                        [ 0, 180]])# Using the geodesic distance function.
m_dist = pdist(coordinates, # Coordinates matrix or tuples list
               lambda u, v: geodesic(u, v).kilometers)

In [10]:
smpl_lat,smpl_lng =  33.5221294, -112.0181866
url_api_place_nearbySearch ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=500&keyword={}&key={}".format(
smpl_lat,smpl_lng,'Arizona Biltmore Golf Club', api_key)
response_api_place_nearbySearch =requests.get(url_api_place_nearbySearch)

In [12]:
#print(json.dumps(response_api_place_nearbySearch.json()))

In [11]:
smpl_lat,smpl_lng =  33.626171,-111.915779
url_api_place_nearbySearch ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=500&keyword={}&key={}".format(
smpl_lat,smpl_lng,'Precision Door Service', api_key)
response_api_place_nearbySearch =requests.get(url_api_place_nearbySearch)

In [109]:
smpl_address = '19420 N 59th Ave, Ste 13'.replace(' ','+')
url_geocoding = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(smpl_address,api_key)
response_geocoding = requests.get(url_geocoding)
response_geocodingJSON= response_geocoding.json()
#print(json.dumps(response_geocodingJSON))

#frm_address = response_geocodingJSON['results'][0]['formatted_address']
#frm_address.rsplit(',',4)

In [ ]:
smpl_address = '19420 N 59th Ave, Ste 13'.replace(' ','+')
url_geocoding = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(smpl_address,api_key)
response_geocoding = requests.get(url_geocoding)
response_geocodingJSON= response_geocoding.json()

In [110]:
response_geocodingJSON

{'results': [{'address_components': [{'long_name': '13',
     'short_name': '13',
     'types': ['subpremise']},
    {'long_name': '19420', 'short_name': '19420', 'types': ['street_number']},
    {'long_name': 'North 59th Avenue',
     'short_name': 'N 59th Ave',
     'types': ['route']},
    {'long_name': 'Arrowhead Ranch',
     'short_name': 'Arrowhead Ranch',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Glendale',
     'short_name': 'Glendale',
     'types': ['locality', 'political']},
    {'long_name': 'Maricopa County',
     'short_name': 'Maricopa County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Arizona',
     'short_name': 'AZ',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '85308', 'short_name': '85308', 'types': ['postal_code']}],
   'formatted_address': '19420 N 59th Ave #13, Glendale, AZ 85308, USA',
   'geometry': {'location': {'lat': 33.6621745, 'lng': -112.1878351},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 33.6635234802915,
      'lng': -112.1864861197085},
     'southwest': {'lat': 33.6608255197085, 'lng': -112.1891840802915}}},
   'place_id': 'Ei0xMywgMTk0MjAgTiA1OXRoIEF2ZSwgR2xlbmRhbGUsIEFaIDg1MzA4LCBVU0EiHhocChYKFAoSCUWS24WJaCuHEcoYz4U7m1DcEgIxMw',
   'types': ['subpremise']}],
 'status': 'OK'}

# Obtaining info from Find Place (Places API)

In [1]:
import psycopg2
import numpy as np
import pandas as pd
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import random as rn
import json

try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")
cur = conn.cursor()
cur.execute("""select business_id, name, address, city, state, latitude, longitude, categories
                from Businesses""")
recordsDB = cur.fetchall()

In [2]:
key_content= !cat /Users/kemalm/Desktop/gmAPI.txt
api_key = key_content[0]
fields = ['business_id','name', 'address', 'city', 'state', 'latitude', 'longitude', 'categories']
#k = np.core.defchararray.add(np.array(['obt_']),np.array(fields))

#print(k)
indices =[x for x in range(0,len(fields))]
#print(indices)
mapDictIndexes = dict(zip(fields,indices))
print(mapDictIndexes)

{'business_id': 0, 'name': 1, 'address': 2, 'city': 3, 'state': 4, 'latitude': 5, 'longitude': 6, 'categories': 7}

In [3]:
len(recordsDB)

192609

In [4]:
def HandlingRequest(record):
    dictObj=dict()
    
    business_name = record[mapDictIndexes['name']] 
    business_address = record[mapDictIndexes['address']]
    business_latitude = record[mapDictIndexes['latitude']]
    business_longitude = record[mapDictIndexes['longitude']]
    
    dictObj['business_id'] = record[mapDictIndexes['business_id']] 
    dictObj['name']= business_name
    dictObj['address']= business_address
    dictObj['city']= record[mapDictIndexes['city']]
    dictObj['state']= record[mapDictIndexes['state']]
    dictObj['latitude']= business_latitude
    dictObj['longitude']= business_longitude
    dictObj['categories']= record[mapDictIndexes['categories']]
    #dictObj['is_open']= record[mapDictIndexes['is_open']]
     

    url_placeSearch ="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&locationbias=circle:1000@{},{}&key={}&fields=place_id,name,formatted_address,geometry,type,permanently_closed".format(
    business_name,business_latitude,business_longitude, api_key)
       
    response_placeSearch =requests.get(url_placeSearch)
    response_placeSearchJSON= response_placeSearch.json()
       
    dictObj['found_by_coordinates_and_name'] = response_placeSearchJSON['status']
    if(dictObj['found_by_coordinates_and_name']=='OK'):
        ObtainData(dictObj,response_placeSearchJSON)            
    return dictObj

In [5]:
def ObtainData(dictObj, response_placeSearchJSON):
    place_id = response_placeSearchJSON['candidates'][0]['place_id']
    dictObj['obt_name']= response_placeSearchJSON['candidates'][0]['name']

    dictObj['formatted_address'] = response_placeSearchJSON['candidates'][0]['formatted_address']
    obt_lat,obt_lng =response_placeSearchJSON['candidates'][0]['geometry']['location']['lat'], response_placeSearchJSON['candidates'][0]['geometry']['location']['lng']
    dictObj['obt_latitude']= obt_lat
    dictObj['obt_longitude']= obt_lng
  
    coordinates=np.array([[dictObj['latitude'], dictObj['longitude']],[obt_lat,obt_lng]])
    #executing pdist function to calculate distance between spherical points (in kilometers) 
    m_dist = pdist(coordinates, # Coordinates matrix or tuples list
           lambda u, v: geodesic(u, v).kilometers)

    dictObj['calc_distance']= float(m_dist)* 1000.0
    listTypes = response_placeSearchJSON['candidates'][0]['types']
    strTypes =", ".join(listTypes)
    dictObj['obt_categories']= strTypes

In [6]:
import requests
import multiprocessing
import time as time


start = time.time()
counter = 0
sample = rn.sample(recordsDB,3000)
listOfDicts=[]
for item in sample:
    listOfDicts.append(HandlingRequest(item))   
    #pool.map(HandlingRequest, sample[i:i+100])
    counter+=1
    if(counter % 100 == 0):   
        print("Appended 100 rows. In total {}".format(counter))
        end = time.time()
        print("Execution time: ", end - start, " seconds.")

Appended 100 rows. In total 100
Execution time:  75.43434715270996  seconds.
Appended 100 rows. In total 200
Execution time:  152.0036449432373  seconds.
Appended 100 rows. In total 300
Execution time:  226.57839107513428  seconds.
Appended 100 rows. In total 400
Execution time:  304.3778040409088  seconds.
Appended 100 rows. In total 500
Execution time:  380.69230222702026  seconds.
Appended 100 rows. In total 600
Execution time:  457.28849601745605  seconds.
Appended 100 rows. In total 700
Execution time:  535.0108151435852  seconds.
Appended 100 rows. In total 800
Execution time:  613.0421051979065  seconds.
Appended 100 rows. In total 900
Execution time:  689.3292510509491  seconds.
Appended 100 rows. In total 1000
Execution time:  764.7993950843811  seconds.
Appended 100 rows. In total 1100
Execution time:  838.2211542129517  seconds.
Appended 100 rows. In total 1200
Execution time:  913.8778200149536  seconds.
Appended 100 rows. In total 1300
Execution time:  987.2141551971436  seconds.
Appended 100 rows. In total 1400
Execution time:  1061.8645250797272  seconds.
Appended 100 rows. In total 1500
Execution time:  1137.6489219665527  seconds.
Appended 100 rows. In total 1600
Execution time:  1211.789113998413  seconds.
Appended 100 rows. In total 1700
Execution time:  1288.5805850028992  seconds.
Appended 100 rows. In total 1800
Execution time:  1364.9717509746552  seconds.
Appended 100 rows. In total 1900
Execution time:  1440.2369101047516  seconds.
Appended 100 rows. In total 2000
Execution time:  1516.479863166809  seconds.
Appended 100 rows. In total 2100
Execution time:  1593.9659552574158  seconds.
Appended 100 rows. In total 2200
Execution time:  1672.8921880722046  seconds.
Appended 100 rows. In total 2300
Execution time:  1751.76216006279  seconds.
Appended 100 rows. In total 2400
Execution time:  1829.9755411148071  seconds.
Appended 100 rows. In total 2500
Execution time:  1908.5173070430756  seconds.
Appended 100 rows. In total 2600
Execution time:  1985.9324412345886  seconds.
Appended 100 rows. In total 2700
Execution time:  2068.8774769306183  seconds.
Appended 100 rows. In total 2800
Execution time:  2142.7087082862854  seconds.
Appended 100 rows. In total 2900
Execution time:  2341.8404779434204  seconds.
Appended 100 rows. In total 3000
Execution time:  2418.574182987213  seconds.

In [10]:
len(listOfDicts)

3000

In [21]:
df_data[df_data['found_by_coordinates_and_name']=='OK'].shape

(2861, 15)

In [22]:
df_data = pd.DataFrame(listOfDicts)

In [28]:
len(list(df_data.columns))

15

In [29]:
df_data[['business_id',
         'name',
         'obt_name',
         'address',
         'city',
         'state',
         'formatted_address',
         'latitude',
         'obt_latitude',
         'longitude', 
         'obt_longitude',
         'calc_distance',         
         'categories',
         'obt_categories',
         'found_by_coordinates_and_name'
           ]].head(10)

,business_id,name,obt_name,address,city,state,formatted_address,latitude,obt_latitude,longitude,obt_longitude,calc_distance,categories,obt_categories,found_by_coordinates_and_name
0,ZvtzjwRaGFfoDJ4gTQhrEw,Black Knight Restaurant & Tavern,Black Knight,858 College Street,Toronto,ON,"858 College St, Toronto, ON M6H 1A2, Canada",43.654294,43.654307,-79.423612,-79.423661,4.250673,"Dive Bars, Bars, Nightlife, Restaurants, Break...","restaurant, point_of_interest, food, establish...",OK
1,qt6niPHSiudRw7-dehZMpg,Anthony Vince Nail Spa,Anthony Vince Nail Spa,"6401 Morrison Blvd, Ste 3B",Charlotte,NC,"6401 Morrison Blvd #3B, Charlotte, NC 28211, USA",35.156215,35.156084,-80.831475,-80.831454,14.703001,"Nail Salons, Beauty & Spas, Waxing, Hair Remov...","beauty_salon, hair_care, point_of_interest, es...",OK
2,edX9ThdTmDRjnONHnu6ztw,AMF Scottsdale Lanes,Bowlmor Scottsdale,7300 E Thomas Rd,Scottsdale,AZ,"7300 E Thomas Rd, Scottsdale, AZ 85251, USA",33.480995,33.480822,-111.924736,-111.924711,19.345725,"Amusement Parks, Bowling, Active Life, Nightlife","bowling_alley, bar, restaurant, point_of_inter...",OK
3,jqsj8FQUa2w6G1XN4Gqrpg,Olive Kebab Restaurant,Olive Kebab Restaurant,2836 Lake Shore Boulevard W,Toronto,ON,"2836 Lake Shore Blvd W, Etobicoke, ON M8V 1H7,...",43.601685,43.601743,-79.501768,-79.501792,6.681898,"Mediterranean, Restaurants, Kebab","restaurant, point_of_interest, food, establish...",OK
4,O8Ll6NssNw-6_NsPNG01HQ,Renegade Electric,Renegade Electric,"2475 W Cheyenne Ave, Ste 150",North Las Vegas,NV,"2475 W Cheyenne Ave #150, North Las Vegas, NV ...",36.216348,36.216524,-115.175669,-115.175867,26.436596,"Home Services, Electricians","electrician, point_of_interest, establishment",OK
5,N5F_GgezZEPL-45BxO6FKQ,Walker's Liquor,Walker liquor,11009 N 19th Ave,Phoenix,AZ,"11009 N 19th Ave, Phoenix, AZ 85029, USA",33.586053,33.586068,-112.099263,-112.099219,4.444552,"Food, Beer, Wine & Spirits","liquor_store, store, point_of_interest, establ...",OK
6,r3PUyKIjYwz0N1b5DG9BlA,Phoenix Valley Mini Storage,Phoenix Valley Mini Storage,11000 N Cave Creek Rd,Phoenix,AZ,"3602 W Greenway Rd, Phoenix, AZ 85053, USA",33.585894,33.625947,-112.049534,-112.136035,9175.368473,"Home Decor, Home & Garden, Shopping, Self Stor...","storage, point_of_interest, establishment",OK
7,Io-S_cPy4ElhHUheHQJwhw,Old's Cool General Store,Old's Cool General Store,250 Westlake Avenue,Toronto,ON,"250 Westlake Ave, East York, ON M4C 4T4, Canada",43.694496,43.694496,-79.308436,-79.308436,0.000000,"Ice Cream & Frozen Yogurt, Convenience Stores,...","store, point_of_interest, food, establishment",OK
8,zdM9p4ZOXUb-kdRr8VPGQg,K1 Speed,"K1 Speed - Indoor Go Karts, Corporate Event Ve...",2425 South 21st Street,Phoenix,AZ,"2425 S 21st St, Phoenix, AZ 85034, USA",33.425464,33.425446,-112.034246,-112.034245,2.008886,"Active Life, Venues & Event Spaces, Amusement ...","restaurant, point_of_interest, food, establish...",OK
9,wOlQRgrLx9WtzLgj4TSTSQ,Eden,Eden Salon,"825 S Cooper Rd, Ste B9",Gilbert,AZ,"825 S Cooper Rd ste b9, Gilbert, AZ 85233, USA",33.334629,33.335051,-111.804608,-111.804514,47.662840,"Beauty & Spas, Hair Salons","beauty_salon, point_of_interest, establishment",OK

In [32]:
df_data[['business_id',
         'name',
         'obt_name',
         'address',
         'city',
         'state',
         'formatted_address',
         'latitude',
         'obt_latitude',
         'longitude', 
         'obt_longitude',
         'calc_distance',         
         'categories',
         'obt_categories',
         'found_by_coordinates_and_name'
           ]].to_csv(path_or_buf='/Users/kemalm/Desktop/Google Maps Data Matching/sample.csv',index=False)

In [33]:
url_placeSearch ="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&locationbias=circle:1000@{},{}&key={}&fields=place_id,name,formatted_address,geometry,type".format(
"Arizona Biltmore Golf Club",33.5221425,-112.0184807, api_key)
response = requests.get(url_placeSearch)
response_JSON= response.json()

In [65]:
import math as mt

In [36]:
pd_test=pd.read_csv('/Users/kemalm/Desktop/Google Maps Data Matching/sample.csv')
pd_test.loc[ pd_test['address'].isnull(), 'address'] = ''

In [81]:
pd_test.shape

(3000, 15)

In [86]:
df_data.count()

address                          3000
business_id                      3000
calc_distance                    2861
categories                       2985
city                             3000
formatted_address                2861
found_by_coordinates_and_name    3000
latitude                         3000
longitude                        3000
name                             3000
obt_categories                   2861
obt_latitude                     2861
obt_longitude                    2861
obt_name                         2861
state                            3000
dtype: int64

In [87]:
pd_test.count()

business_id                      3000
name                             3000
obt_name                         2861
address                          3000
city                             3000
state                            3000
formatted_address                2861
latitude                         3000
obt_latitude                     2861
longitude                        3000
obt_longitude                    2861
calc_distance                    2861
categories                       2985
obt_categories                   2861
found_by_coordinates_and_name    3000
dtype: int64

In [96]:
pd_test[~pd_test['calc_distance'].isnull()].shape

(2861, 15)

In [97]:
pd_test[pd_test['calc_distance'].isnull()].shape

(139, 15)

In [99]:
pd_test[~pd_test['calc_distance'].isnull()].sort_values(by=['calc_distance']).head(5)

,business_id,name,obt_name,address,city,state,formatted_address,latitude,obt_latitude,longitude,obt_longitude,calc_distance,categories,obt_categories,found_by_coordinates_and_name
1497,7xn6RDKmCanq2C8Fn-FNgg,Chilly Jilly'z,Chilly Jilly'z,1680 Nevada Hwy,Boulder City,NV,"1680 Nevada Hwy, Boulder City, NV 89005, USA",35.969106,35.969106,-114.859020,-114.859020,0.0,"American (New), Restaurants, Juice Bars & Smoo...","cafe, bakery, store, restaurant, point_of_inte...",OK
382,BkbElMznjFwXv_ivFy5vFQ,Red Roof Inn Cleveland East - Willoughby,Red Roof Inn Cleveland - Mentor/ Willoughby,4166 State Route 306,Willoughby,OH,"4166 OH-306, Willoughby, OH 44094, USA",41.638629,41.638629,-81.373927,-81.373927,0.0,"Hotels, Hotels & Travel, Event Planning & Serv...","lodging, point_of_interest, establishment",OK
1042,HNGs365o04YzIjmil5j_oA,Camil Coloriste,Camil Coloriste,4417 Rue Saint-Denis,Montréal,QC,"4417 St Denis St, Montreal, QC H2J 2L2, Canada",45.523553,45.523553,-73.581619,-73.581619,0.0,Beauty & Spas,"beauty_salon, hair_care, point_of_interest, es...",OK
2051,FC2jzYUqDNfQXQG0SiAqhQ,Liberty At Paradise,Liberty At Paradise Community,701 Conestoga Way,Henderson,NV,"701 Conestoga Way, Henderson, NV 89002, USA",35.988694,35.988694,-114.932958,-114.932958,0.0,NaN,"point_of_interest, establishment",OK
2068,Ny64cRC19IZkD57eNyBwWQ,Mattress Firm Goodyear,Mattress Firm Goodyear,"15475 W Mcdowell Rd, Ste 101",Goodyear,AZ,"15475 W McDowell Rd #101, Goodyear, AZ 85338, USA",33.462691,33.462691,-112.391800,-112.391800,0.0,"Mattresses, Furniture Stores, Home Decor, Home...","furniture_store, home_goods_store, store, poin...",OK

In [101]:
pd_test[~pd_test['calc_distance'].isnull()].sort_values(by=['calc_distance'], ascending=False).head(5)

,business_id,name,obt_name,address,city,state,formatted_address,latitude,obt_latitude,longitude,obt_longitude,calc_distance,categories,obt_categories,found_by_coordinates_and_name
765,aVFxXttiojZeIW7rmuDSuA,China Sea,South China Sea,2897 Derry Road E,Mississauga,ON,South China Sea,43.703428,15.488092,-79.643912,114.404754,1.329675e+07,"Imported Food, Specialty Food, Chinese, Ethnic...","natural_feature, establishment",OK
547,UmH-4R6MvR2qBvW7AxU7tQ,Jerusalem,Jerusalem,961 W Ray Rd,Chandler,AZ,"Jerusalem, Israel",33.320537,31.768319,-111.858201,35.213710,1.201821e+07,"Restaurants, Middle Eastern","locality, political",OK
885,jtKyM60DLunW7AVNZwSIFg,Bros Dough,Dough Bros,2511 17th Avenue SW,Calgary,AB,"250 Victoria St, Hamilton 3204, New Zealand",51.037660,-37.788303,-114.118501,175.284191,1.200115e+07,"Food Delivery Services, Food, Restaurants, Piz...","restaurant, point_of_interest, food, establish...",OK
146,mactLKv5GEgj6FdsYkdLVQ,Arbia Cafe Eatery,Cafe Arabia,113 Bond Street,Toronto,ON,"Villa No. 637, 15th Street, Airport Rd، Opposi...",43.657171,24.455824,-79.378524,54.379195,1.111416e+07,"Cafes, Restaurants, Italian","cafe, point_of_interest, food, establishment",OK
412,S3ilF_BACKuF9jD14Lp54Q,Plaka,Plaka,2550 S Rainbow Blvd,Las Vegas,NV,"Plaka, Athens, Greece",36.143397,37.972553,-115.241975,23.730336,1.078023e+07,"Arts & Entertainment, Food, Music Venues, Food...","neighborhood, political",OK

In [105]:
print("""Min value for calc_distance: {} meters
Max value for calc_distance: {} meters
Mean value for calc_distance: {} meters
Median for calc_distance: {} meters""".format(
                            pd_test['calc_distance'].min(), 
                            pd_test['calc_distance'].max(), 
                            pd_test['calc_distance'].mean(),
                            pd_test['calc_distance'].median(),


))

Min value for calc_distance: 0.0 meters
Max value for calc_distance: 13296750.121321416 meters
Mean value for calc_distance: 105248.1797402113 meters
Median for calc_distance: 19.34572475804684 meters

In [111]:
import matplotlib.pyplot as plt

In [114]:
pd_test['calc_distance'].values

array([ 4.25067252, 14.70300133, 19.34572476, ...,  0.        ,
       37.3491253 ,  7.0675411 ])

In [128]:
#plt.hist(pd_test[~pd_test['calc_distance'].isnull()]['calc_distance'].values)



ranges = [0,50]
temp_var = 50
while temp_var <= int(pd_test['calc_distance'].max()):
    temp_var *=2
    ranges.append(temp_var) 
print(int(pd_test['calc_distance'].max()))
print(ranges)
print(len(ranges))

13296750
[0, 50, 100, 200, 400, 800, 1600, 3200, 6400, 12800, 25600, 51200, 102400, 204800, 409600, 819200, 1638400, 3276800, 6553600, 13107200, 26214400]
21

In [131]:
k = pd_test[~pd_test['calc_distance'].isnull()]

In [132]:
k.shape

(2861, 15)

In [134]:
k.groupby(pd.cut(
                k['calc_distance'], 
                ranges)).count()['business_id']

calc_distance
(0, 50]                 1588
(50, 100]                204
(100, 200]               103
(200, 400]                73
(400, 800]                62
(800, 1600]               84
(1600, 3200]              77
(3200, 6400]              90
(6400, 12800]             97
(12800, 25600]           106
(25600, 51200]            27
(51200, 102400]           10
(102400, 204800]           7
(204800, 409600]          23
(409600, 819200]          22
(819200, 1638400]         16
(1638400, 3276800]        23
(3276800, 6553600]        14
(6553600, 13107200]       14
(13107200, 26214400]       1
Name: business_id, dtype: int64

In [138]:
QUANTILES = df_data.calc_distance.quantile([0.25,0.5,0.75])
Q1, Q3 = QUANTILES[0.25], QUANTILES[0.75]

In [139]:
Q1,Q3

(3.5197190315422757, 270.2910842928066)

In [149]:
IQR = Q3 - Q1

In [150]:
np.array(np.bitwise_or(pd_test.calc_distance <= Q1-IQR*1.5, pd_test.calc_distance  >= Q3+IQR*1.5 )).astype(np.int64).sum()

628

In [153]:
pd_test[np.bitwise_or(pd_test.calc_distance <= Q1-IQR*1.5, pd_test.calc_distance  >= Q3+IQR*1.5 )]

,business_id,name,obt_name,address,city,state,formatted_address,latitude,obt_latitude,longitude,obt_longitude,calc_distance,categories,obt_categories,found_by_coordinates_and_name
6,r3PUyKIjYwz0N1b5DG9BlA,Phoenix Valley Mini Storage,Phoenix Valley Mini Storage,11000 N Cave Creek Rd,Phoenix,AZ,"3602 W Greenway Rd, Phoenix, AZ 85053, USA",33.585894,33.625947,-112.049534,-112.136035,9.175368e+03,"Home Decor, Home & Garden, Shopping, Self Stor...","storage, point_of_interest, establishment",OK
12,sGbNIKDn5AoLFkkgRdgK9A,Amy Bridal,Amy Bridal,2155 E University Dr,Tempe,AZ,"2155 E University Dr, Tempe, AZ 85281, USA",33.512366,33.421347,-112.114199,-111.893060,2.290170e+04,"Jewelry, Shopping, Bridal","jewelry_store, clothing_store, store, point_of...",OK
13,xVoPh8oCb29J5dMURoowBg,Rare Earth,Rare Earth Gallery,"28190 N Alma School Pkwy, Ste 209",Scottsdale,AZ,"6401 E Cave Creek Rd, Cave Creek, AZ 85331, USA",33.741316,33.831988,-111.844144,-111.943275,1.361760e+04,"Pizza, Food, Bars, Coffee & Tea, Nightlife, Wi...","art_gallery, point_of_interest, establishment",OK
17,_Ejjcg6V2sHb_W8CyIUtXg,Silver Mine Subs,Silver Mine Subs,311 N Frances St,Madison,WI,"2601 W Beltline Hwy #106, Madison, WI 53713, USA",43.072630,43.034536,-89.395458,-89.422174,4.758891e+03,"Delis, Restaurants, American (New), Sandwiches","meal_delivery, restaurant, point_of_interest, ...",OK
20,HoPbdqGo8nV0ookg0rbKvA,Puff Lounge,Paint & Puff,1030 E Flamingo Blvd,Las Vegas,NV,"1928 Western Ave, Las Vegas, NV 89102, USA",36.115593,36.149041,-115.141436,-115.164613,4.257571e+03,"Nightlife, Bars, Hookah Bars","art_gallery, night_club, bar, point_of_interes...",OK
28,XDGLfvdEvcb0QWtNXHwnwQ,Thyme In the Kitchen,Thyme In The Kitchen,"1990 Village Center Cir, Ste 3",Las Vegas,NV,"2308 W Franklin St, Evansville, IN 47712, USA",36.191842,37.980251,-115.305402,-87.599442,2.462262e+06,"Kitchen & Bath, Shopping, Home & Garden","furniture_store, home_goods_store, store, poin...",OK
30,9vArSKfEGx1yyl_3hA0EYw,My Auto Service,My Auto Service 2,6765 W Flamingo Rd,Las Vegas,NV,"6104 W Cheyenne Ave, Las Vegas, NV 89108, USA",36.114065,36.217231,-115.240077,-115.226361,1.151387e+04,"Automotive, Auto Repair","car_repair, home_goods_store, store, point_of_...",OK
32,d4WbPFDGr_eQfb29H4UD6Q,"Joe W Pearson, DDS",Seuss Orthodontics,,Phoenix,AZ,"16611 S 40th St, Phoenix, AZ 85048, USA",33.312262,33.296136,-112.035714,-111.996286,4.084407e+03,"Orthodontists, Dentists, Oral Surgeons, Health...","dentist, health, point_of_interest, establishment",OK
51,2JanhWrbIAi0VgpwgKFwaA,Savile Row,Savile Row,"Luxor Hotel and Casino, 3900 Las Vegas Blvd S",Las Vegas,NV,"Savile Row, Mayfair, London, UK",36.095516,51.511287,-115.176153,-0.140782,8.429848e+06,"Nightlife, Dance Clubs",route,OK
56,dpcGWwukG1bW4lUhbxhviA,WingBurger,WingBurger,45 Four Winds,Toronto,ON,"1733 Eglinton Ave E, North York, ON M4A 1J8, C...",43.763525,43.725510,-79.499358,-79.312713,1.561614e+04,"Fast Food, Burgers, Canadian (New), Restaurants","restaurant, point_of_interest, food, establish...",OK
58,4ZWeyqRcjydccR5Azk1uRQ,OCD Pool Maintenance,OCD Pool Maintenance,,Gilbert,AZ,"2526 E Aris Dr, Gilbert, AZ 85298, USA",33.241135,33.240914,-111.725694,-111.735123,8.791277e+02,"Active Life, Pool & Hot Tub Service, Home Serv...","point_of_interest, establishment",OK
64,93yqHy-IpbF8B0r0C7_UMA,Bâton Rouge,Baton Rouge,"163 Quarry Park Boulevard SE, Unit 1200",Calgary,AB,"Baton Rouge, LA, USA",50.963059,30.451468,-114.007973,-91.187147,2.959287e+06,"Cajun/Creole, American (Traditional), Restaura...","locality, political",OK
65,EneqsOFGCK4KXofNHsc5aQ,In-N-Out Burger,In-N-Out Burger,"3545 S Las Vegas Blvd, Ste L24",Las Vegas,NV,"4888 Dean Martin Dr, Las Vegas, NV 89103, USA",36.117421,36.101328,-115.170167,-115.182269,2.091977e+03,"American (Traditional), Burgers, Fast Food, Re...","restaurant, point_of_interest, food, establish...",OK
74,Fbodyr3N_oJIT90qXdAqGQ,Donatos Pizzeria,Donatos Pizza,10109 Northcross Center Ct,Huntersville,NC,"6555 Morrison Blvd, Charlotte, NC 28211, USA",35.443106,35.154076,-80.859585,-80.828755,3.218910e+04,"Restaurants, Pizza","restaurant, point_of_interest, food, establish...",OK
84,5AJmg1AYeEMRE6De25JyPQ,Paragliding Tandem,Sonora Wings Hang Gliding,,Goodyear,AZ,"11934 N Russell Rd, Maricopa, AZ 85138, USA",33.360239,32.988539,-112.405305,-111.913146,6.169703e+04,"Skydiving, Active Life, Hang Gliding","university, point_of_interest, establishment",OK
85,s78qzTZBOq-3U4C3gXtD5A,Red Rocket Coffee,Red Rocket Coffee,401 Logan Avenue,Toronto,ON,"1364 Danforth Ave, Toronto, ON M4J 1M9, Canada",43.663911,43.682452,-79.343840,-79.328471,2.404169e+03,"Coffee & Tea, Food","cafe, store, point_of_interest, food, establis...",OK
90,A8Y0cgYDz0O3YWzFfkDQow,Pottery Paradise,Pottery Paradise,4338 N Scottsdale Rd,Scottsdale,AZ,"5930 Cherry Glen Rd, Vacaville, CA 95688, USA",33.499386,38.339355,-111.926570,-122.016773,1.056295e+06,"Home & Garden, Shopping, Home Decor","furniture_store, home_goods_store, store, gene...",OK
91,kDezZLFZaGAjxp4huPzgDQ,Paradise,Paradise Chinese Cuisine,5584 Yonge St,Toronto,ON,"5505 Leslie St, North York, ON M2H 3N6, Canada",43.779356,43.791210,-79.415728,-79.367755,4.079989e+03,"Restaurants, Korean","restaurant, point_of_interest, food, establish...",OK
101,5KP7PQywLRMq0WbSF3n2sA,Le Golosita,Le Golosita' Di Rossi Daniele,9500 S Eastern Ave,Henderson,NV,"Piazzale Leonardelli, 32, 38016 Mezzocorona TN...",36.016950,46.217406,-115.118552,11.125699,9.432757e+06,"Restaurants, Italian","meal_takeaway, restaurant, point_of_interest, ...",OK
106,YM0eGFRw4Sio8qBlcIYFoA,Cruisers,Colby Cruisers,1942 E Broadway Rd,Mesa,AZ,"1426 N Marvin St, Gilbert, AZ 85233, USA",33.408128,33.375426,-111.789507,-111.810910,4.137644e+03,"Burgers, Chicken Wings, Restaurants, Fast Food","bicycle_store, store, point_of_interest, estab...",OK
108,jap1D5VN_r6vIhhTH6WlUA,The Home Improvement People,The Home Improvement People Inc.,1120 Castlefield Avenue,North York,ON,"1120 Castlefield Ave, York, ON M6B 1E9, Canada",43.717023,43.700703,-79.462061,-79.452502,1.970131e+03,"Home Services, Contractors","home_goods_store, store, general_contractor, p...",OK
109,rdaRbvFLFtArULWdEA-K-A,La Saigonaise,La petite saigonnaise,5711 Chemin de la Côte-des-Neiges,Montréal,QC,"2044 Victoria Ave, Greenfield Park, QC J4V 1M8...",45.499074,45.477877,-73.627798,-73.475622,1.212725e+04,"Imported Food, Food, Thai, Ethnic Food, Specia...","restaurant, point_of_interest, food, establish...",OK
112,GQ_7ZSsbWZhxeecSYe95zA,A&W,A & A Motors,1130 Dundas Street E,Mississauga,ON,"2451 Dixie Rd, Mississauga, ON L4Y 2A1, Canada",43.603964,43.606727,-79.589205,-79.579553,8.375453e+02,"Restaurants, Burgers, Canadian (New), American...","car_repair, point_of_interest, establishment",OK
114,LHWaHbLcR5-HQEn1bPOCnQ,"Dana Seltzer, MD","Dana Seltzer, MD","3811 E Bell Rd, Ste 309, Abrazo Medical Group ...",Phoenix,AZ,"7797 W Paradise Ln Suite 130, Peoria, AZ 85382...",33.639778,33.634512,-111.998919,-112.226573,2.112882e+04,"Health & Medical, Doctors, Sports Medicine, Or...","doctor, health, point_of_interest, establishment",OK
123,cIHLq8s39DC1BZBaowHbew,Woodbine Alteration,Imperial Tailoring,4750 Yonge Street,North York,ON,"500 Rexdale Blvd, Etobicoke, ON M9W 6K5, Canada",43.760373,43.720218,-79.411115,-79.600406,1.588761e+04,"Local Services, Laundry Services, Sewing & Alt...","point_of_interest, establishment",OK
132,GnbaVIn6hZEP1zPhF591jA,Blush Esthetics & Lashes,Blush Esthetics Ltd,"303 - 2335, 162 Ave SW",Calgary,AB,"17 Main St SW, Falher, AB T0H 1M0, Canada",50.905316,55.737053,-114.111302,-117.201877,5.756782e+05,"Nail Salons, Beauty & Spas, Day Spas, Eyelash ...","beauty_salon, point_of_interest, establishment",OK
133,Vxyl0MIIj46oUkrk7v9Elg,Red Roof PLUS+ Phoenix West,Red Roof PLUS+ Phoenix West,17222 N Black Canyon Hwy,Phoenix,AZ,"5215 W Willetta St, Phoenix, AZ 85043, USA",33.642960,33.464384,-112.116428,-112.171664,2.046004e+04,"Hotels & Travel, Hotels, Event Planning & Serv...","lodging, point_of_interest, establishment",OK
146,mactLKv5GEgj6FdsYkdLVQ,Arbia Cafe Eatery,Cafe Arabia,113 Bond Street,Toronto,ON,"Villa No. 637, 15th Street, Airport Rd، Opposi...",43.657171,24.455824,-79.378524,54.379195,1.111416e+07,"Cafes, Restaurants, Italian","cafe, point_of_interest, food, establishment",OK
148,26P8Md5PWv2brgxEwSOUcg,Hot Shot Delivery,Hot Shot Delivery,"3620 E Campbell Ave, Ste B",Phoenix,AZ,"236 E Pima St #106, Phoenix, AZ 85004, USA",33.502823,33.433713,-112.003250,-112.071492,9.949622e+03,"Notaries, Local Services, Couriers & Delivery ...","moving_company, point_of_interest, establishment",OK
158,ztODXRVyMfkfsMWFHGSkBA,Canada Tire Doctors Mobile Tire Service,"Canadian Tire - Calgary Deerfoot City NE, AB",123 Hawkmere View,Calgary,AB,"910 57 Ave NE, Calgary, AB T2E 9B7, Canada",51.051292,51.106278,-113.833456,-114.042661,1.588574e+04,"Tires, Automotive","home_goods_store, department_store, car_repair...",OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2842,sXnv-pUFsJLk9v9WlRiGIA,Bash-Pepper Roofing Company,Bash Pepper Roofing Co,712 N Hickory St,Champaign,IL,"712 N Hickory St, Champaign, IL 61820, United ...",40.118538,40.122964,-88.197115,-88.242392,3.890743e+03,"Home Services, Siding, Contractors, Roofing, G...","roofing_contractor, store, general_contractor,...",OK
2843,sdbZ_F0_jcNU54CtFuz-_Q,Belle Vive Spa & Wellness Centre,Vive Bella Spa,134 Clebourne St,Fort Mill,SC,"4230 Broadway, New York, NY 10033, USA",35.010113,40.849165,-80.945061,-73.936492,8.936432e+05,"Beauty & Spas, Gyms, Fitness & Instruction, Da...","beauty_salon, hair_care, spa, point_of_interes...",OK
2844,FzY_eaGmRAOG1TvLKTrsnw,"Kris Kelley, LMT",Kris Kelley - Massage Practitioner,"9330 Sun City Blvd, Ste 101",Las Vegas,NV,"3425 Painted River Ln, Las Vegas, NV 89129, USA",36.211698,36.222360,-115.298706,-115.270493,2.799114e+03,"Massage, Health & Medical, Beauty & Spas","point_of_interest, establishment",OK
2849,TRxDx0JhUX49iL-QUHEm0A,I Went To Philly,I Went To Philly,462 Yonge Street,Toronto,ON,"997 Eglinton Ave W, York, ON M6C 2C7, Canada",43.661863,43.699552,-79.383305,-79.431312,5.702654e+03,"Diners, American (New), Restaurants","restaurant, point_of_interest, food, establish...",OK
2863,1bgcPZXnzAZvrc6HcBfc7A,Average Joe Auto Repair,Joe's Automotive Repair,1001 W Bradley Ave,Champaign,IL,"24 E Marshall St, Champaign, IL 61820, USA",40.126938,40.113626,-88.260531,-88.240758,2.241805e+03,"Local Services, Oil Change Stations, Automotiv...","car_repair, store, point_of_interest, establis...",OK
2865,RbptuyaienBDaObDdGmReA,Rapid Repair,Rapid Repair,12247 S Gilbert Rd,Gilbert,AZ,"12247 S Gilbert Rd suite #103, Gilbert, AZ 852...",33.317409,33.336347,-111.789686,-111.788927,2.101598e+03,"Automotive, Auto Repair","car_repair, point_of_interest, establishment",OK
2875,HtQmm4EyS8lYXPYNYSWXdg,Tokyo Japanese Steak House,Tokyo Japanese Steak House,4305 Main St,Pittsburgh,PA,"7 NW Barry Rd, Kansas City, MO 64155, USA",40.464139,39.245745,-79.953014,-94.581119,1.257612e+06,"Restaurants, Japanese, Korean","restaurant, point_of_interest, food, establish...",OK
2883,poZWqCpyw2bH8fWxJItACA,Anita-Stitch,Anita-Stitch,4211 Saw Mill Run Blvd,Brentwood,PA,"4211 Saw Mill Run Blvd, Pittsburgh, PA 15227, USA",40.374050,40.365086,-79.982375,-79.984483,1.011295e+03,"Local Services, Sewing & Alterations","home_goods_store, store, point_of_interest, es...",OK
2884,zgR06F1MSPtOxj7-VFlpNQ,Destiny Equestrian,Destiny Equestrian,15134 Dufferin Street,King City,ON,"15443 Ninth Line, Whitchurch-Stouffville, ON L...",43.985215,44.048474,-79.519375,-79.273479,2.093229e+04,"Horseback Riding, Active Life","point_of_interest, establishment",OK
2890,H3cLp236IMCmL9Th0NAgWg,US Social Security Administration,US Social Security Administration,5800 Executive Center Dr,Charlotte,NC,"2201 Coronation Blvd #100, Charlotte, NC 28227...",35.198488,35.143095,-80.742783,-80.729760,6.258967e+03,"Security Services, Public Services & Governmen...","local_government_office, point_of_interest, es...",OK
2893,keChsvTIWsPUc4KX-ayRVw,Comedor Anita,comedor ANITA azcapotzalco,8400 S Avenida Del Yaqui,Guadalupe,AZ,"Asfalto 54, Plenitud, 02780 Ciudad de México, ...",33.370625,19.471851,-111.963353,-99.194649,1.994680e+06,"Mexican, Restaurants","restaurant, point_of_interest, food, establish...",OK
2899,2eVx-UGmMnIrglAGNbcZuQ,Infonec Computers,Infonec Computers,132 Dundas Street W,Toronto,ON,"351 Ferrier St unit 3, Markham, ON L3R 5Z2, Ca...",43.655580,43.820962,-79.384695,-79.330265,1.889102e+04,"Shopping, Computers","electronics_store, store, point_of_interest, e...",OK
2901,QJv6nQixzSzfQsTyWLZPag,Camp Fit Force,Camp Fit Force,2775 Desert Marigold Ln,Las Vegas,NV,"6115 S Fort Apache Rd, Las Vegas, NV 89148, USA",36.141756,36.077110,-115.320940,-115.298611,7.449569e+03,"Fitness & Instruction, Active Life, Trainers","gym, health, point_of_interest, establishment",OK
2906,E2z8Dm0JeQihjHMSg-Cpyg,Sears Auto Center,Sears Auto Center,3450 S Maryland Pkwy,Las Vegas,NV,"Henderson, NV 89014, USA",36.129310,36.053712,-115.135126,-115.041475,1.189536e+04,"Oil Change Stations, Tires, Automotive, Auto R...","car_repair, point_of_interest, establishment",OK
2907,8oyCJhGFNIYerf78Iz3O-A,Pretty Girl LV,Crazy Girls LV,"8665 W Flamingo Rd, Ste 150",Las Vegas,NV,"3776 S Las Vegas Blvd, Las Vegas, NV 89109, USA",36.113838,36.110096,-115.281073,-115.171693,9.856856e+03,"Tanning, Hair Stylists, Beauty & Spas, Blow Dr...","point_of_interest, establishment",OK
2911,CqZxUzVm0mtiqFaf14qmVQ,Karma Hookah Lounge,Karma Ultra Lounge,"3170 E Sunset Rd, Ste C",Las Vegas,NV,"5900 W Charleston Blvd #8, Las Vegas, NV 89146...",36.072644,36.159942,-115.105698,-115.222234,1.427971e+04,"Nightlife, Bars, Lounges, Hookah Bars","restaurant, point_of_interest, food, establish...",OK
2914,vQzwhdkjKdmk8_zUfE69VA,Bling Studio Nails LV,LV Nails & Spa,10905 S Eastern Ave,Henderson,NV,"10050 S Eastern Ave #140, Henderson, NV 89052,...",35.994340,36.006939,-115.102253,-115.111784,1.640970e+03,"Nail Salons, Beauty & Spas","beauty_salon, hair_care, spa, point_of_interes...",OK
2928,JyAP4VVJXOr9j0ttN521lQ,American Freight Furniture and Mattress,American Freight Furniture and Mattress,36933 Vine St,Willoughby,OH,"34700 Vine St Suite 200, Eastlake, OH 44095, USA",41.643237,41.641718,-81.422325,-81.441415,1.599364e+03,"Furniture Stores, Home Decor, Mattresses, Shop...","furniture_store, finance, home_goods_store, st...",OK
2931,pZWFWWlQ1KIe9LWGU5gFfg,Sky Harbor Airport: Military & Veterans Hospit...,Arizona Air National Guard,3400 E Sky Harbor Blvd,Phoenix,AZ,"3200 E Old Tower Rd, Phoenix, AZ 85034, USA",33.436020,33.426101,-111.997863,-112.010942,1.640024e+03,"Hotels & Travel, Travel Services","point_of_interest, establishment",OK
2941,yCRw1xo1gugCu0EorZ4PAw,R&R Beauty By Nite Barber Shop,David R Ward Tax Services,"818 Tom Hall, Ste 110",Fort Mill,SC,"207 Forrest St, Fort Mill, SC 29715, USA",35.007324,35.003752,-80.929458,-80.940433,1.077350e+03,"Barbers, Beauty & Spas, Cosmetics & Beauty Sup...","accounting, finance, point_of_interest, establ...",OK
2950,ePfZTtpkp_7khzozF2Lh2A,T&E Tires And Service,T Mobile,2925 Eastway Dr,Charlotte,NC,"3023 Central Ave, Charlotte, NC 28205, USA",35.216196,35.217640,-80.780420,-80.793024,1.158683e+03,"Tires, Oil Change Stations, Auto Repair, Autom...","store, point_of_interest, establishment",OK
2955,INvxViyj-cwOVqHMEM6jvQ,Hibachi-San,Hibachi-San,"9617 N Metro Pkwy W, Ste 2024",Phoenix,AZ,3111 West Chandler Boulevard Chandler Fashion ...,33.575238,33.300692,-112.121588,-111.898325,3.685445e+04,"Restaurants, Japanese","restaurant, point_of_interest, food, establish...",OK
2967,WsPFR0JSg0z_dZbDhl0Zqw,Hue's Kitchen,Hue's Kitchen,1226 King St W,Toronto,ON,"774 Yonge St, Toronto, ON M4Y 2B6, Canada",43.638835,43.669739,-79.428413,-79.386789,4.802547e+03,"Vietnamese, Restaurants","restaurant, point_of_interest, food, establish...",OK
2970,RYwOgA5ywy4UtqPZNvtLCA,Souvenirs Et Feux D'artifice,BEM Fireworks / BEM Fireworks,11 Chemin Noël,Saint-Bernard-de-Lacolle,QC,"62 Chemin St - Emmanuel, Coteau-du-Lac, QC J0P...",45.122505,45.313701,-73.469363,-74.155391,5.792349e+04,"Gift Shops, Souvenir Shops, Fireworks, Shoppin...","store, point_of_interest, establishment",OK
2980,6TlRrGUG1Nm9lZGQiqV78g,Aldo Shoes,Aldo,27 Karl Fraser Road,Toronto,ON,"1800 Sheppard Ave E #1064, North York, ON M2J ...",43.735533,43.778032,-79.344826,-79.344710,4.722011e+03,"Accessories, Shopping, Fashion, Shoe Stores","shoe_store, store, point_of_interest, establis...",OK
2982,CSd__IZJyNEGaI9CfXRmkw,Tier One Diesel,Tier One Diesel,"4211 E Elwood St, Ste 4",Phoenix,AZ,"950 W Birchwood Ave, Mesa, AZ 85210, USA",33.414281,33.410904,-111.990535,-111.852260,1.286726e+04,"Automotive, Auto Repair","car_repair, point_of_interest, establishment",OK
2984,CmzJMXgsD7deXT7QSaLi1Q,BackYard BBQ,Proficient Patios & Backyard Designs,,Las Vegas,NV,"3310 S Valley View Blvd, Las Vegas, NV 89102, USA",36.146267,36.129772,-115.182987,-115.189928,1.934075e+03,"Event Planning & Services, Restaurants, Food, ...","furniture_store, home_goods_store, store, gene...",OK
2986,XgDNgr95RRqLTlENY7bZIQ,Barb's Precious Pups,Barb's Precious Pups,,Henderson,NV,"3521, 3506 Bella Sovana Ct, Las Vegas, NV 8914...",36.370000,35.996278,-114.880000,-115.186725,4.980923e+04,"Pet Breeders, Pet Services, Pet Stores, Pet Ad...","point_of_interest, establishment",OK
2992,KOag4UjDjX5hUrjeMOmb6g,Pima Medical Institute - Mesa,Pima Medical Institute - Mesa,2160 S Power Rd,Mesa,AZ,"957 S Dobson Rd, Mesa, AZ 85202, USA",33.376388,33.396898,-111.689593,-111.874125,1.731956e+04,"Adult Education, Specialty Schools, Health & M...","university, health, point_of_interest, school,...",OK
2993,PEj_SivzVqPYu_mxPINhDg,Blenz Coffee,Blenz Coffee,702 7 Avenue SW,Calgary,AB,"5100 Anderson Way #101, Vernon, BC V1T 9V2, Ca...",51.047061,50.284718,-114.076466,-119.273912,3.770336e+05,"Sandwiches, Bagels, Food, Restaurants, Coffee ...","cafe, store, point_of_interest, food, establis...",OK

# Identify suspicous patterns

In [68]:
import psycopg2
import numpy as np
import pandas as pd
try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")
cur = conn.cursor()
cur.execute("""SELECT state,  COUNT(business_id) AS total_Count
               FROM Businesses
               GROUP BY state 
               ORDER BY 2 DESC""")
statesQuery = cur.fetchall()

In [69]:
dct_states_prov_terr = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'AB': 'Alberta',
        'BC': 'British Columbia',
        'MB': 'Manitoba',
        'NB': 'New Brunswick',
        'NL': 'Newfoundland and Labrador',
        'NT': 'Northwest Territories',
        'NS': 'Nova Scotia',
        'NU': 'Nunavut',
        'ON': 'Ontario',
        'PE': 'Prince Edward Island',
        'QC': 'Quebec',
        'SK': 'Saskatchewan',
        'YT': 'Yukon'
}

In [70]:
df_statesQuery = pd.DataFrame(statesQuery, columns=['state','total_count'])

In [71]:
df_statesQuery.head()

  state  total_count
0    AZ        56686
1    NV        36312
2    ON        33412
3    NC        14720
4    OH        14697

In [72]:
df_statesQuery['state_exists'] = df_statesQuery['state'].isin(dct_states_prov_terr.keys())

In [73]:
#state_exist = np.array([ (el[0], int(el[0] in dct_states_prov_terr.keys())) for el in df_statesQuery])

In [74]:
df_statesQuery[df_statesQuery['state_exists'] == False]

   state  total_count  state_exists
14   XGM            4         False
19   XWY            2         False
25   DUR            1         False
27   DOW            1         False
29   BAS            1         False
31   CON            1         False
33   XGL            1         False

### Get corresponding records

In [79]:
rpl_str = str(list(df_statesQuery[df_statesQuery['state_exists'] == False]['state'].values)).replace('[','').replace(']','')

cur.execute("""SELECT *
         FROM Businesses
         WHERE state IN ({})""".format(rpl_str))
all_recs =cur.fetchall()

In [81]:
all_recs

[('svMJjPd4l_Zb_MoxejYZvw',
  'Zoom Printing',
  '1136 Center Street, Suite 442',
  'Thornhill',
  'DUR',
  'L4J 3M8',
  43.8085625817,
  -79.4638055695,
  3.5,
  3,
  1,
  {},
  'Professional Services, Advertising, Printing Services, Print Media, Mass Media, Local Services',
  {'Friday': '9:0-17:0',
   'Monday': '9:0-17:0',
   'Tuesday': '9:0-17:0',
   'Thursday': '9:0-17:0',
   'Wednesday': '9:0-17:0'}),
 ('d4qoXn1Rqt47LLTDA3bAwQ',
  'Thayer David Ice Cream Shop',
  '8 York St',
  'Bath',
  'BAS',
  'BA1 1NG',
  43.6406456,
  -79.380939,
  4.0,
  4,
  1,
  {'RestaurantsPriceRange2': '1'},
  'Food, Ice Cream & Frozen Yogurt',
  {}),
 ('8_GNJU3EPar9VkPzJvoC3w',
  'Bean & Brush Family Art Café',
  'The Old Sorting Office, 12 Hayfield Street',
  'Sale',
  'XGM',
  'M33 7XW',
  42.9960594,
  -89.568889,
  4.0,
  4,
  1,
  {'WiFi': "u'free'",
   'Caters': 'True',
   'BikeParking': 'True',
   'OutdoorSeating': 'True',
   'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "'casual'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsPriceRange2': '2',
   'RestaurantsReservations': 'False',
   'RestaurantsGoodForGroups': 'True'},
  'Arts & Crafts, Shopping, Coffee & Tea, Food',
  {'Friday': '8:30-19:0',
   'Monday': '8:30-19:0',
   'Sunday': '9:0-18:0',
   'Tuesday': '8:30-19:0',
   'Saturday': '8:30-19:0',
   'Thursday': '8:30-19:0',
   'Wednesday': '8:30-19:0'}),
 ('44xjnQMwAQjgZ80MW5z-Gg',
  'No. 37 Sandwich Bar',
  '37 Monk Bridge Road',
  'Leeds',
  'XWY',
  'LS6 4EP',
  45.456999,
  -73.59525,
  4.5,
  3,
  1,
  {'WiFi': "'no'",
   'Alcohol': "u'none'",
   'OutdoorSeating': 'True',
   'BusinessParking': "{'garage': False, 'validated': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "u'casual'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'True',
   'RestaurantsReservations': 'False'},
  'Bakeries, Food, Desserts, Restaurants, Sandwiches',
  {'Friday': '7:0-15:0',
   'Monday': '7:0-15:0',
   'Tuesday': '7:0-15:0',
   'Thursday': '7:0-15:0',
   'Wednesday': '7:0-15:0'}),
 ('eeEcf7XXAGClqdUCwnwRfg',
  'The Old Lifeboat House',
  'The Cove, Coverack Helston',
  'Church Cove',
  'CON',
  'TR12 6SX',
  35.532021,
  -80.8516825,
  3.5,
  3,
  1,
  {'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'False',
   'RestaurantsGoodForGroups': 'True'},
  'British, Restaurants',
  {}),
 ('JNZeVq9jr9AWURmnM-Yxig',
  'Total Gardening and Landscaping',
  '',
  'Bury',
  'XGM',
  'BL8 4DR',
  42.9960594,
  -89.568889,
  5.0,
  3,
  1,
  {'ByAppointmentOnly': 'False', 'BusinessAcceptsBitcoin': 'False'},
  'Home Services, Landscaping, Tree Services, Gardeners',
  {'Friday': '0:0-0:0',
   'Monday': '0:0-0:0',
   'Sunday': '0:0-0:0',
   'Tuesday': '0:0-0:0',
   'Saturday': '0:0-0:0',
   'Thursday': '0:0-0:0',
   'Wednesday': '0:0-0:0'}),
 ('6dhkHf-CFHr7C8wj-qopCQ',
  'Paper Cutz',
  'Gorebrook Works, Pinkbank Lane',
  'Manchester',
  'XGM',
  'M12 5GH',
  42.9960594,
  -89.568889,
  2.5,
  3,
  1,
  {'BusinessParking': "{'garage': False, 'validated': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsPriceRange2': '4'},
  'Art Supplies, Arts & Crafts, Shopping',
  {}),
 ('FByZsT1Sob5Vf1AYJFPxPg',
  'Desi Masala',
  '61 Queen Street',
  'Leeds',
  'XWY',
  'LS27 8EB',
  43.6528212,
  -79.3763454,
  4.5,
  5,
  1,
  {'WiFi': "'no'",
   'HasTV': 'True',
   'Alcohol': "'none'",
   'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",
   'NoiseLevel': "u'average'",
   'OutdoorSeating': 'False',
   'BusinessParking': "{'garage': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "u'dressy'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'True',
   'RestaurantsPriceRange2': '2',
   'RestaurantsReservations': 'True',
   'RestaurantsGoodForGroups': 'True'},
  'Indian, Pakistani, Restaurants',
  {}),
 ('xjR-PII302WyyNRfpcowDg',
  "Moxon's Fishmongers",
  '110 Islington High Street',
  'London',
  'XGL',
  'N1 8EG',
  43.645355,
  -79.524467,
  4.5,
  3,
  1,
  {'BusinessParking': "{'garage': False, 'street': True, 'lot': False, 'valet': False}",
   'WheelchairAccessible': 'True',
   'BusinessAcceptsBitcoin': 'False',
   'RestaurantsPriceRange2': '2'},
  'Specialty Food, Food, Seafood Markets',
  {'Friday': '9:0-19:30',
   'Tuesday': '9:0-19:30',
   'Saturday': '9:0-17:30',
   'Thursday': '9:0-19:30',
   'Wednesday': '9:0-19:30'}),
 ('ZsL7FUkaWdyQnDoYB6XpSA',
  'Happy Gathering Resturant Oldham',
  '',
  'Oldham',
  'XGM',
  'OL2 6PX',
  42.9960594,
  -89.568889,
  4.0,
  3,
  1,
  {},
  'Chinese, Restaurants',
  {}),
 ('U9uyfhpZ89VEH5_webJ5Xg',
  'Storm Cinemas - Belfast',
  'Odyssey Arena, 2 Queens Quay',
  'Down',
  'DOW',
  'BT33 0',
  43.6416582,
  -79.37603,
  3.0,
  4,
  1,
  {},
  'Arts & Entertainment',
  {})]

In [86]:
df_suspBus= pd.DataFrame(all_recs,columns=["business_id",
                                "name",
                                "address",
                                "city",
                                "state",
                                "postal_code",
                                "latitude",
                                "longitude",
                                "stars",
                                "review_count",
                                "is_open",
                                "attributes",
                                "categories",
                                "hours"])

In [88]:
df_suspBus

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,svMJjPd4l_Zb_MoxejYZvw,Zoom Printing,"1136 Center Street, Suite 442",Thornhill,DUR,L4J 3M8,43.808563,-79.463806,3.5,3,1,{},"Professional Services, Advertising, Printing S...","{'Friday': '9:0-17:0', 'Monday': '9:0-17:0', '..."
1,d4qoXn1Rqt47LLTDA3bAwQ,Thayer David Ice Cream Shop,8 York St,Bath,BAS,BA1 1NG,43.640646,-79.380939,4.0,4,1,{'RestaurantsPriceRange2': '1'},"Food, Ice Cream & Frozen Yogurt",{}
2,8_GNJU3EPar9VkPzJvoC3w,Bean & Brush Family Art Café,"The Old Sorting Office, 12 Hayfield Street",Sale,XGM,M33 7XW,42.996059,-89.568889,4.0,4,1,"{'WiFi': 'u'free'', 'Caters': 'True', 'BikePar...","Arts & Crafts, Shopping, Coffee & Tea, Food","{'Friday': '8:30-19:0', 'Monday': '8:30-19:0',..."
3,44xjnQMwAQjgZ80MW5z-Gg,No. 37 Sandwich Bar,37 Monk Bridge Road,Leeds,XWY,LS6 4EP,45.456999,-73.595250,4.5,3,1,"{'WiFi': ''no'', 'Alcohol': 'u'none'', 'Outdoo...","Bakeries, Food, Desserts, Restaurants, Sandwiches","{'Friday': '7:0-15:0', 'Monday': '7:0-15:0', '..."
4,eeEcf7XXAGClqdUCwnwRfg,The Old Lifeboat House,"The Cove, Coverack Helston",Church Cove,CON,TR12 6SX,35.532021,-80.851682,3.5,3,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","British, Restaurants",{}
5,JNZeVq9jr9AWURmnM-Yxig,Total Gardening and Landscaping,,Bury,XGM,BL8 4DR,42.996059,-89.568889,5.0,3,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Home Services, Landscaping, Tree Services, Gar...","{'Friday': '0:0-0:0', 'Monday': '0:0-0:0', 'Su..."
6,6dhkHf-CFHr7C8wj-qopCQ,Paper Cutz,"Gorebrook Works, Pinkbank Lane",Manchester,XGM,M12 5GH,42.996059,-89.568889,2.5,3,1,"{'BusinessParking': '{'garage': False, 'valida...","Art Supplies, Arts & Crafts, Shopping",{}
7,FByZsT1Sob5Vf1AYJFPxPg,Desi Masala,61 Queen Street,Leeds,XWY,LS27 8EB,43.652821,-79.376345,4.5,5,1,"{'WiFi': ''no'', 'HasTV': 'True', 'Alcohol': '...","Indian, Pakistani, Restaurants",{}
8,xjR-PII302WyyNRfpcowDg,Moxon's Fishmongers,110 Islington High Street,London,XGL,N1 8EG,43.645355,-79.524467,4.5,3,1,"{'BusinessParking': '{'garage': False, 'street...","Specialty Food, Food, Seafood Markets","{'Friday': '9:0-19:30', 'Tuesday': '9:0-19:30'..."
9,ZsL7FUkaWdyQnDoYB6XpSA,Happy Gathering Resturant Oldham,,Oldham,XGM,OL2 6PX,42.996059,-89.568889,4.0,3,1,{},"Chinese, Restaurants",{}
10,U9uyfhpZ89VEH5_webJ5Xg,Storm Cinemas - Belfast,"Odyssey Arena, 2 Queens Quay",Down,DOW,BT33 0,43.641658,-79.376030,3.0,4,1,{},Arts & Entertainment,{}

In [87]:
df_suspBus.to_csv(path_or_buf='/Users/kemalm/Desktop/suspBus.csv',index=False)