In [1]:
import json
import pandas as pd
import numpy as np
import csv
import time

# converting business.json to business.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_business = []
counter =0
with open('/Users/kemalm/Desktop/yelp_dataset/business.json',encoding='utf-8') as f:
    for line in f:
        listOfDicts_business.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 192609 dictionaries.
Execution time:  3.6180918216705322  seconds.

In [4]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/business.json

  192609 /Users/kemalm/Desktop/yelp_dataset/business.json

### naming a list of attributes

In [2]:
attr_arr = np.array(['business_id', 'name', 'address', 'city', 'state', 
                     'postal_code', 'latitude', 'longitude', 'stars', 
                     'review_count', 'is_open', 'attributes', 'categories', 'hours'])
print(attr_arr, type(attr_arr))

['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'attributes' 'categories'
 'hours'] <class 'numpy.ndarray'>

<h3> checking if all json objects, we obtained from <i style="color:blue">business.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [6]:
df_containsfield= np.zeros((len(listOfDicts_business),len(attr_arr)))

for i in range(0,len(listOfDicts_business)):
    df_containsfield[i,:] = np.isin(attr_arr, np.array(list(listOfDicts_business[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((attr_arr.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(attr_arr)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

192609  number of records

Key associated with its frequency:
 [['business_id' 192609.0]
 ['name' 192609.0]
 ['address' 192609.0]
 ['city' 192609.0]
 ['state' 192609.0]
 ['postal_code' 192609.0]
 ['latitude' 192609.0]
 ['longitude' 192609.0]
 ['stars' 192609.0]
 ['review_count' 192609.0]
 ['is_open' 192609.0]
 ['attributes' 192609.0]
 ['categories' 192609.0]
 ['hours' 192609.0]]

<h3> number of null values per column</h3>

In [7]:
start = time.time()
for a in list(attr_arr):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/business.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

business_id
       0
name
       0
address
       0
city
       0
state
       0
postal_code
       0
latitude
       0
longitude
       0
stars
       0
review_count
       0
is_open
       0
attributes
   28836
categories
     482
hours
   44830

<h3> Creating a <i style="color:blue"> business.csv </i> file and writing data to it. </h3>

In [6]:
class mydict(dict):
        def __str__(self):
            return json.dumps(self)

In [15]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/business.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,list(attr_arr), delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_business:
        tempDict=dict(dictObj)    
        if tempDict.get('attributes') is not None:
            tempDict['attributes'] = mydict(tempDict['attributes']).__str__()
        else:
            tempDict['attributes']="{}"
            
        if tempDict.get('hours') is not None:
            tempDict['hours'] = mydict(tempDict['hours']).__str__()
        else:
            tempDict['hours']="{}"
        writer.writerow(tempDict)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 192609 rows
Execution time:  6.614404201507568  seconds.

# converting user.json to user.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_user = []
with open('/Users/kemalm/Desktop/yelp_dataset/user.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_user.append(json.loads(line))
        counter+=1
endend  = time.time()
print("Successfully appended {} rows".format(counter))
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 1637138 rows
Execution time:  42.027015209198  seconds.

In [5]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/user.json

 1637138 /Users/kemalm/Desktop/yelp_dataset/user.json

In [4]:
len(listOfDicts_user)

1637138

### naming a list of attributes

In [8]:
arr_user = np.array(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 
                     'funny', 'cool', 'elite', 'friends', 'fans', 
                     'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 
                     'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 
                     'compliment_writer', 'compliment_photos'])

<h3> checking if all json objects, we obtained from <i style="color:blue">user.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [9]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_user),len(arr_user)))

for i in range(0,len(listOfDicts_user)):
    df_containsfield[i,:] = np.isin(arr_user, np.array(list(listOfDicts_user[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_user.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_user)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

1637138  number of records

Key associated with its frequency:
 [['user_id' 1637138.0]
 ['name' 1637138.0]
 ['review_count' 1637138.0]
 ['yelping_since' 1637138.0]
 ['useful' 1637138.0]
 ['funny' 1637138.0]
 ['cool' 1637138.0]
 ['elite' 1637138.0]
 ['friends' 1637138.0]
 ['fans' 1637138.0]
 ['average_stars' 1637138.0]
 ['compliment_hot' 1637138.0]
 ['compliment_more' 1637138.0]
 ['compliment_profile' 1637138.0]
 ['compliment_cute' 1637138.0]
 ['compliment_list' 1637138.0]
 ['compliment_note' 1637138.0]
 ['compliment_plain' 1637138.0]
 ['compliment_cool' 1637138.0]
 ['compliment_funny' 1637138.0]
 ['compliment_writer' 1637138.0]
 ['compliment_photos' 1637138.0]]
Execution time:  111.81420087814331  seconds.

<h3> number of null values per column</h3> 
<h5 style="color:red;"> WARNING! Following method works very slow for very large datasets (user.json). </h5> 
<h5 style="color:red;"> Therefore, it shouldn't be run more than once. </h5>

In [9]:
start = time.time()
for a in list(arr_user):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/user.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

user_id
       0
name
       0
review_count
       0
yelping_since
       0
useful
       0
funny
       0
cool
       0
elite
       0
friends
       0
fans
       0
average_stars
       0
compliment_hot
       0
compliment_more
       0
compliment_profile
       0
compliment_cute
       0
compliment_list
       0
compliment_note
       0
compliment_plain
       0
compliment_cool
       0
compliment_funny
       0
compliment_writer
       0
compliment_photos
       0
Execution time:  963.2632689476013  seconds.

<h3> Creating a <i style="color:blue"> user.csv </i> file and writing data to it. </h3>

In [24]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/user.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,user_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_user:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 1637138 rows
Execution time:  75.70107102394104

In [47]:
!wc -l yelp_dataset/user.json
!echo "User.csv has one more row used as a header."
!wc -l yelp_dataset/user.csv

 1637138 yelp_dataset/user.json
User.csv has one more row used as a header.
 1637139 yelp_dataset/user.csv

# converting review.json to review.csv
### importing from json file

In [4]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_review = []
with open('/Users/kemalm/Desktop/yelp_dataset/review.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_review.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 6685900 dictionaries.
Execution time:  71.14869093894958  seconds.

In [6]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/review.json

 6685900 /Users/kemalm/Desktop/yelp_dataset/review.json

### naming a list of attributes

In [11]:
arr_review= np.array(['review_id', 'user_id', 'business_id', 'stars', 'useful',
                      'funny', 'cool', 'text', 'date'])

<h3> checking if all json objects, we obtained from <i style="color:blue">review.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_review),len(arr_review)))

for i in range(0,len(listOfDicts_review)):
    df_containsfield[i,:] = np.isin(arr_review, np.array(list(listOfDicts_review[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_review.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_review)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

6685900  number of records

Key associated with its frequency:
 [['review_id' 6685900.0]
 ['user_id' 6685900.0]
 ['business_id' 6685900.0]
 ['stars' 6685900.0]
 ['useful' 6685900.0]
 ['funny' 6685900.0]
 ['cool' 6685900.0]
 ['text' 6685900.0]
 ['date' 6685900.0]]
Execution time:  299.6732749938965  seconds.

<h3> number of null values per column</h3> 
<h5 style="color:red;"> WARNING! Following method works very slow for very large datasets (user.json). </h5> 
<h5 style="color:red;"> Therefore, it shouldn't be run more than once. </h5>

In [13]:
start = time.time()
for a in list(arr_review):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/review.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

review_id
       0
user_id
       0
business_id
       0
stars
       0
useful
       0
funny
       0
cool
       0
text
       0
date
       0
Execution time:  913.4484198093414  seconds.

In [3]:
review_cols = list(arr_review)
print(review_cols)

['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

<h3> Creating a <i style="color:blue"> review.csv </i> file and writing data to it. </h3>

In [4]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/review.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,review_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_review:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 6685900 rows
Execution time:  232.80819010734558  seconds.

# converting checkin.json to checkin.csv
### importing from json file

In [7]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_checkin = []
with open('/Users/kemalm/Desktop/yelp_dataset/checkin.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_checkin.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 161950 dictionaries.
Execution time:  2.0320558547973633  seconds.

In [3]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/checkin.json

  161950 /Users/kemalm/Desktop/yelp_dataset/checkin.json

### naming a list of attributes

In [15]:
arr_checkin = np.array(['business_id', 'date'])

<h3> checking if all json objects, we obtained from <i style="color:blue">checkin.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [12]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_checkin),len(arr_checkin)))

for i in range(0,len(listOfDicts_checkin)):
    df_containsfield[i,:] = np.isin(arr_checkin, np.array(list(listOfDicts_checkin[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_checkin.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_checkin)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

161950  number of records

Key associated with its frequency:
 [['business_id' 161950.0]
 ['date' 161950.0]]
Execution time:  2.568455934524536  seconds.

<h3> number of null values per column</h3>

In [16]:
start = time.time()
for a in list(arr_checkin):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/checkin.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

business_id
       0
date
       0
Execution time:  14.164305925369263  seconds.

In [13]:
checkin_cols = list(arr_checkin)
print(checkin_cols)

['business_id', 'date']

<h3> Creating a <i style="color:blue"> checkin.csv </i> file and writing data to it. </h3>

In [6]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/checkin.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,checkin_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_checkin:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 161950 rows
Execution time:  9.046382665634155  seconds.

In [8]:
!wc -l yelp_dataset/checkin.json
!wc -l yelp_dataset/checkin.csv

  161950 yelp_dataset/checkin.json
  161951 yelp_dataset/checkin.csv

# converting tip.json to tip.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_tip = []
with open('/Users/kemalm/Desktop/yelp_dataset/tip.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_tip.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 1223094 dictionaries.
Execution time:  6.717769145965576  seconds.

In [6]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/tip.json

 1223094 /Users/kemalm/Desktop/yelp_dataset/tip.json

### naming a list of attributes

In [17]:
arr_tip = np.array(['user_id', 'business_id', 'text', 'date', 'compliment_count'])

<h3> checking if all json objects, we obtained from <i style="color:blue">tip.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_tip),len(arr_tip)))

for i in range(0,len(listOfDicts_tip)):
    df_containsfield[i,:] = np.isin(arr_tip, np.array(list(listOfDicts_tip[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_tip.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_tip)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

1223094  number of records

Key associated with its frequency:
 [['user_id' 1223094.0]
 ['business_id' 1223094.0]
 ['text' 1223094.0]
 ['date' 1223094.0]
 ['compliment_count' 1223094.0]]
Execution time:  30.554124116897583  seconds.

<h3> number of null values per column</h3>

In [18]:
start = time.time()
for a in list(arr_tip):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/tip.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

user_id
       0
business_id
       0
text
       0
date
       0
compliment_count
       0
Execution time:  25.752610683441162  seconds.

In [9]:
tip_cols = list(arr_tip)
print(tip_cols)

['user_id', 'business_id', 'text', 'date', 'compliment_count']

<h3> Creating a <i style="color:blue"> tip.csv </i> file and writing data to it. </h3>

In [16]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/tip.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,tip_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_tip:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 1223094 rows
Execution time:  8.033058166503906  seconds.

# converting photo.json to photo.csv
### importing from json file

In [6]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_photo = []
with open('/Users/kemalm/Desktop/yelp_dataset/photo.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_photo.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 200000 dictionaries.
Execution time:  0.9235949516296387  seconds.

In [2]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/photo.json

  200000 /Users/kemalm/Desktop/yelp_dataset/photo.json

### naming a list of attributes

In [20]:
arr_photo = np.array(['caption', 'photo_id', 'business_id', 'label'])

<h3> checking if all json objects, we obtained from <i style="color:blue">photo.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_photo),len(arr_photo)))

for i in range(0,len(listOfDicts_photo)):
    df_containsfield[i,:] = np.isin(arr_photo, np.array(list(listOfDicts_photo[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_photo.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_photo)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

200000  number of records

Key associated with its frequency:
 [['caption' 200000.0]
 ['photo_id' 200000.0]
 ['business_id' 200000.0]
 ['label' 200000.0]]
Execution time:  4.147678852081299  seconds.

<h3> number of null values per column</h3>

In [21]:
start = time.time()
for a in list(arr_photo):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/photo.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

caption
       0
photo_id
       0
business_id
       0
label
       0
Execution time:  3.233721971511841  seconds.

In [9]:
photo_cols = list(arr_photo)
print(photo_cols)

['caption', 'photo_id', 'business_id', 'label']

<h3> Creating a <i style="color:blue"> photo.csv </i> file and writing data to it. </h3>

In [13]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/photo.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,photo_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_photo:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

NameError: name 'csv' is not defined

# Python-to-PostgreSQL client

In [1]:
import psycopg2
import pandas as pd

In [2]:
try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")

In [194]:
cur = conn.cursor()
#cur.execute("""select city,state, count(business_id)
#                from Businesses
#                where is_open = 1
#                group by city,state
#                order by 3 desc
#                limit 10""")
#recordsDB = cur.fetchall()

In [3]:
cur = conn.cursor()
cur.execute("""select business_id, name, address, city, state, latitude, longitude, categories, is_open
                from Businesses""")
recordsDB = cur.fetchall()

# Frequency

### US/Canada states/provinces by number of businesses

In [196]:
cur.execute("""SELECT state,  COUNT(business_id) AS Total_Count
               FROM Businesses
               WHERE is_open = 1
               GROUP BY state 
               ORDER BY 2 DESC""")
freqrecords = cur.fetchall()

In [197]:
pd.DataFrame(freqrecords, columns=['State','Total # of businesses']).head(10)

  State  Total # of businesses
0    AZ                  46910
1    NV                  29562
2    ON                  26525
3    OH                  12546
4    NC                  12419
5    PA                   9430
6    QC                   7623
7    AB                   6694
8    WI                   4210
9    IL                   1545

### Cities by number of businesses

In [17]:
cur.execute("""select city,state, count(business_id)
               from Businesses
               where is_open = 1
               group by city,state
               order by 3 desc""")
freqrecords = cur.fetchall()

In [18]:
pd.DataFrame(freqrecords, columns=['City','State','Total # of businesses']).head(10)

         City State  Total # of businesses
0   Las Vegas    NV                  23784
1     Phoenix    AZ                  15471
2     Toronto    ON                  14329
3   Charlotte    NC                   7945
4  Scottsdale    AZ                   7081
5     Calgary    AB                   6445
6  Pittsburgh    PA                   5736
7    Montréal    QC                   5163
8        Mesa    AZ                   5149
9   Henderson    NV                   4026

# Google Places: Sending HTTP Requests

In [6]:
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import numpy as np
import random as rn
import json

In [7]:
key_content= !cat /Users/kemalm/Desktop/gmAPI.txt
api_key = key_content[0]

In [8]:
fields = ['business_id','name', 'address', 'city', 'state', 'latitude', 'longitude', 'categories', 'is_open', 'hours']
#k = np.core.defchararray.add(np.array(['obt_']),np.array(fields))

#print(k)
indices =[x for x in range(0,len(fields))]
#print(indices)
mapDictIndexes = dict(zip(fields,indices))
print(mapDictIndexes)

{'business_id': 0, 'name': 1, 'address': 2, 'city': 3, 'state': 4, 'latitude': 5, 'longitude': 6, 'categories': 7, 'is_open': 8, 'hours': 9}

In [19]:
coordinates = np.array([[0,0],
                        [ 0, 180]])# Using the geodesic distance function.
m_dist = pdist(coordinates, # Coordinates matrix or tuples list
               lambda u, v: geodesic(u, v).kilometers)

In [10]:
smpl_lat,smpl_lng =  33.5221294, -112.0181866
url_api_place_nearbySearch ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=500&keyword={}&key={}".format(
smpl_lat,smpl_lng,'Arizona Biltmore Golf Club', api_key)
response_api_place_nearbySearch =requests.get(url_api_place_nearbySearch)

In [12]:
#print(json.dumps(response_api_place_nearbySearch.json()))

In [11]:
smpl_lat,smpl_lng =  33.626171,-111.915779
url_api_place_nearbySearch ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=500&keyword={}&key={}".format(
smpl_lat,smpl_lng,'Precision Door Service', api_key)
response_api_place_nearbySearch =requests.get(url_api_place_nearbySearch)

In [109]:
smpl_address = '19420 N 59th Ave, Ste 13'.replace(' ','+')
url_geocoding = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(smpl_address,api_key)
response_geocoding = requests.get(url_geocoding)
response_geocodingJSON= response_geocoding.json()
#print(json.dumps(response_geocodingJSON))

#frm_address = response_geocodingJSON['results'][0]['formatted_address']
#frm_address.rsplit(',',4)

In [8]:
smpl_address = '19420 N 59th Ave, Ste 13'.replace(' ','+')
url_geocoding = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(smpl_address,api_key)
response_geocoding = requests.get(url_geocoding)
response_geocodingJSON= response_geocoding.json()

# Geocoding

In [1]:
import psycopg2
import numpy as np
import pandas as pd
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import random as rn
import json

try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")
cur = conn.cursor()
cur.execute("""select business_id, name, address, city, state, latitude, longitude, categories
                from Businesses""")
recordsDB = cur.fetchall()

In [2]:
len(recordsDB)

192609

In [3]:
key_content= !cat /Users/kemalm/Desktop/gmAPI.txt
api_key = key_content[0]
fields = ['business_id','name', 'address', 'city', 'state', 'latitude', 'longitude', 'categories']
#k = np.core.defchararray.add(np.array(['obt_']),np.array(fields))

#print(k)
indices =[x for x in range(0,len(fields))]
#print(indices)
mapDictIndexes = dict(zip(fields,indices))
print(mapDictIndexes)

{'business_id': 0, 'name': 1, 'address': 2, 'city': 3, 'state': 4, 'latitude': 5, 'longitude': 6, 'categories': 7}

In [4]:
def GeocodingRequestHandling(record):
    dictObj=dict()
    
    business_name = record[mapDictIndexes['name']] 
    business_address = record[mapDictIndexes['address']]
    business_latitude = record[mapDictIndexes['latitude']]
    business_longitude = record[mapDictIndexes['longitude']]
    
    dictObj['business_id'] = record[mapDictIndexes['business_id']] 
    dictObj['name']= business_name
    dictObj['address']= business_address
    dictObj['city']= record[mapDictIndexes['city']]
    dictObj['state']= record[mapDictIndexes['state']]
    dictObj['latitude']= business_latitude
    dictObj['longitude']= business_longitude
    dictObj['categories']= record[mapDictIndexes['categories']]
    #dictObj['is_open']= record[mapDictIndexes['is_open']]
     
    if(business_address !=''):
        url_geocoding ="https://maps.googleapis.com/maps/api/geocode/json?address={}&sensor=true&key={}".format(
        business_address,api_key)
        resp =requests.get(url_geocoding)
        resp_dict= resp.json()
        dictObj['geocoding_status'] = resp_dict['status']
        if(dictObj['geocoding_status']=='OK'):
            GeocodingFunc(dictObj,resp_dict)
    
    url_invgeocoding = "https://maps.googleapis.com/maps/api/geocode/json?latlng={},{}&key={}".format(
        business_latitude,business_longitude,api_key)
    resp =requests.get(url_invgeocoding)
    resp_dict= resp.json()
    dictObj['invgeocoding_status'] = resp_dict['status']
    if(dictObj['invgeocoding_status']=='OK'):
        InvGeocodingFunc(dictObj, resp_dict)
    
    return dictObj

In [5]:
def GeocodingFunc(dictObj,resp_dict):
    dictObj['latitude_from_address']= resp_dict['results'][0]['geometry']['location']['lat']
    dictObj['longitude_from_address']= resp_dict['results'][0]['geometry']['location']['lng']
    #dictObj['formatted_address_from_address'] = response_placeSearchJSON['results'][0]['formatted_address']
    coordinates=np.array([[dictObj['latitude'], dictObj['longitude']],
                          [dictObj['latitude_from_address'],dictObj['longitude_from_address']]])    
    m_dist = pdist(coordinates, # Coordinates matrix or tuples list
           lambda u, v: geodesic(u, v).kilometers)
    dictObj['dist_diff']= float(m_dist)* 1000.0
    dictObj['place_id_from_address']= resp_dict['results'][0]['place_id']

In [6]:
def InvGeocodingFunc(dictObj,resp_dict):
    dictObj['formatted_address_from_coord'] = resp_dict['results'][0]['formatted_address']    
    dictObj['address_components_from_coord'] = resp_dict['results'][0]['address_components']  
    dictObj['place_id_from_coord']= resp_dict['results'][0]['place_id']

In [7]:
import requests
import multiprocessing
import time as time

start = time.time()
counter = 0
sample = rn.sample(recordsDB,3000)
listOfDicts=[]
for i in range(0,len(sample),100):
    with multiprocessing.Pool( processes=multiprocessing.cpu_count()) as pool:
        listOfDicts+=pool.map(GeocodingRequestHandling, sample[i:i+100])
    counter+=100   
    print("Appended 100 rows. In total {}".format(counter))
    end = time.time()
    print("Execution time: ", end - start, " seconds.")

Appended 100 rows. In total 100
Execution time:  15.795691967010498  seconds.
Appended 100 rows. In total 200
Execution time:  32.00659203529358  seconds.
Appended 100 rows. In total 300
Execution time:  48.9500470161438  seconds.
Appended 100 rows. In total 400
Execution time:  64.60181403160095  seconds.
Appended 100 rows. In total 500
Execution time:  80.37112879753113  seconds.
Appended 100 rows. In total 600
Execution time:  95.18814992904663  seconds.
Appended 100 rows. In total 700
Execution time:  111.17470383644104  seconds.
Appended 100 rows. In total 800
Execution time:  125.73102593421936  seconds.
Appended 100 rows. In total 900
Execution time:  141.76359391212463  seconds.
Appended 100 rows. In total 1000
Execution time:  156.80530095100403  seconds.
Appended 100 rows. In total 1100
Execution time:  171.58871293067932  seconds.
Appended 100 rows. In total 1200
Execution time:  187.241938829422  seconds.
Appended 100 rows. In total 1300
Execution time:  202.5680377483368  seconds.
Appended 100 rows. In total 1400
Execution time:  216.77816605567932  seconds.
Appended 100 rows. In total 1500
Execution time:  231.94861268997192  seconds.
Appended 100 rows. In total 1600
Execution time:  247.23677372932434  seconds.
Appended 100 rows. In total 1700
Execution time:  262.8335428237915  seconds.
Appended 100 rows. In total 1800
Execution time:  278.169939994812  seconds.
Appended 100 rows. In total 1900
Execution time:  293.51794481277466  seconds.
Appended 100 rows. In total 2000
Execution time:  307.56024384498596  seconds.
Appended 100 rows. In total 2100
Execution time:  323.906222820282  seconds.
Appended 100 rows. In total 2200
Execution time:  339.32849192619324  seconds.
Appended 100 rows. In total 2300
Execution time:  355.2178008556366  seconds.
Appended 100 rows. In total 2400
Execution time:  370.4978668689728  seconds.
Appended 100 rows. In total 2500
Execution time:  384.8549189567566  seconds.
Appended 100 rows. In total 2600
Execution time:  400.68819975852966  seconds.
Appended 100 rows. In total 2700
Execution time:  416.2079849243164  seconds.
Appended 100 rows. In total 2800
Execution time:  431.24926471710205  seconds.
Appended 100 rows. In total 2900
Execution time:  446.0875508785248  seconds.
Appended 100 rows. In total 3000
Execution time:  461.5965509414673  seconds.

In [8]:
len(listOfDicts)

3000

In [9]:
frm_listOfDicts = []
counter = 0
for el in listOfDicts:
    dictObj = dict(el)
    street_name, route, city, state,country = "","","","",""
    for sub_el in el['address_components_from_coord']:
        if('street_number' in sub_el['types']):
            street_name = sub_el['long_name']
        if('route' in sub_el['types']):
            route = sub_el['long_name']
        if('locality' in sub_el['types'] ):
            city = sub_el['long_name']
        if('administrative_area_level_1' in sub_el['types'] ):
            state =  sub_el['short_name']
        if('country' in sub_el['types'] ):
            country =  sub_el['short_name']
    if(street_name != "" and route != ""):
        dictObj['address_from_coord'] = street_name+' '+route
    else:
        dictObj['address_from_coord'] = street_name+route      
    dictObj['city_from_coord'] = city
    dictObj['state_from_coord'] = state
    dictObj['country_from_coord'] = country     
    frm_listOfDicts.append(dictObj)
    counter+=1
print("Appended {} dictionaries".format(counter))

Appended 3000 dictionaries

In [10]:
df_sampleGEO = pd.DataFrame(frm_listOfDicts)

In [11]:
df_sampleGEO.shape

(3000, 21)

In [12]:
df_sampleGEO.columns #We are going to ignore address_components

Index(['address', 'address_components_from_coord', 'address_from_coord',
       'business_id', 'categories', 'city', 'city_from_coord',
       'country_from_coord', 'dist_diff', 'formatted_address_from_coord',
       'geocoding_status', 'invgeocoding_status', 'latitude',
       'latitude_from_address', 'longitude', 'longitude_from_address', 'name',
       'place_id_from_address', 'place_id_from_coord', 'state',
       'state_from_coord'],
      dtype='object')

In [13]:
#Ignoring address components
cols_GEO = [ 'business_id',
            'name',
            'address',
            'city',
            'state',
            'address_from_coord',
            'city_from_coord',
            'state_from_coord',
            'country_from_coord', 
            'formatted_address_from_coord',      
            'latitude',
            'latitude_from_address',
            'longitude',
            'longitude_from_address',
            'dist_diff',   
            'categories',
            'place_id_from_address',
            'place_id_from_coord',
            'geocoding_status',
            'invgeocoding_status',
]

In [14]:
len(cols_GEO)

20

In [18]:
df_sampleGEO['geocoding_status'].unique(), df_sampleGEO['invgeocoding_status'].unique()

(array(['OK', nan, 'ZERO_RESULTS', 'REQUEST_DENIED'], dtype=object),
 array(['OK'], dtype=object))

In [19]:
df_sampleGEO.count()

address                          3000
address_components_from_coord    3000
address_from_coord               3000
business_id                      3000
categories                       2984
city                             3000
city_from_coord                  3000
country_from_coord               3000
dist_diff                        2853
formatted_address_from_coord     3000
geocoding_status                 2876
invgeocoding_status              3000
latitude                         3000
latitude_from_address            2853
longitude                        3000
longitude_from_address           2853
name                             3000
place_id_from_address            2853
place_id_from_coord              3000
state                            3000
state_from_coord                 3000
dtype: int64

In [20]:
df_sampleGEO[cols_GEO].to_csv(path_or_buf='/Users/kemalm/Desktop/FinalGM/geocodingSampleFormatted.csv',index=False)

In [61]:
#df_sampleGEO[df_sampleGEO.address_from_coord == ""]

In [62]:
df_test = pd.read_csv('/Users/kemalm/Desktop/FinalGM/geocodingSampleFormatted.csv')
df_test.loc[ df_test['address'].isnull(), 'address'] = ''
df_test.loc[ df_test['address_from_coord'].isnull(), 'address_from_coord'] = ''
df_test.loc[ df_test['city_from_coord'].isnull(), 'city_from_coord'] = ''

In [63]:
df_test.count()

business_id                     3000
name                            3000
address                         3000
city                            3000
state                           3000
address_from_coord              3000
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
place_id_from_address           2853
place_id_from_coord             3000
geocoding_status                2876
invgeocoding_status             3000
dtype: int64

In [46]:
#df_sampleGEO[cols_GEO].count() == df_test.count()

In [64]:
df_test[~df_test['dist_diff'].isnull()].sort_values(by=['dist_diff']).head(5)

,business_id,name,address,city,state,address_from_coord,city_from_coord,state_from_coord,country_from_coord,formatted_address_from_coord,latitude,latitude_from_address,longitude,longitude_from_address,dist_diff,categories,place_id_from_address,place_id_from_coord,geocoding_status,invgeocoding_status
0,pBmhuYniNwodaxlfJq5UBQ,Red Modern Furniture,201 E Camelback Rd,Phoenix,AZ,201 East Camelback Road,Phoenix,AZ,US,"201 E Camelback Rd, Phoenix, AZ 85012, USA",33.509034,33.509034,-112.070878,-112.070878,0.0,"Antiques, Home Decor, Home Services, Lighting ...",ChIJfZtx8L8SK4cRQCW1UnJ8JJk,ChIJfZtx8L8SK4cRQCW1UnJ8JJk,OK,OK
895,wOJ3NMhumJDs9FKDADa0AQ,Modify Yoga Spa Cafe,4164 N Marshall Way,Scottsdale,AZ,7040 East 3rd Avenue,Scottsdale,AZ,US,"7040 E 3rd Ave, Scottsdale, AZ 85251, USA",33.496462,33.496462,-111.929118,-111.929118,0.0,"Yoga, Restaurants, Fitness & Instruction, Day ...",ChIJC0Tf8ZULK4cRAjNI5fnty7k,ChIJOSUZ8JULK4cRPKOojYcQbiw,OK,OK
2344,QusBsOLrcamSQvoCPy3TQQ,Westney Heights Medical Centre and Xray,"15 Westney Road N, Suite 11",Ajax,ON,15 Westney Road North,Ajax,ON,CA,"15 Westney Rd N, Ajax, ON L1T 1P5, Canada",43.859083,43.859083,-79.039129,-79.039129,0.0,"Dentists, Health & Medical, Walk-in Clinics, M...",EiUxMSwgMTUgV2VzdG5leSBSZCBOLCBBamF4LCBPTiwgQ2...,ChIJLxmMauzf1IkReXQEPO2mkGA,OK,OK
900,CXFR88uNnlcVemPV27oExg,Tracy's Downtown Barbers,"590 N Alma School Rd, Ste 28",Chandler,AZ,590 North Alma School Road,Chandler,AZ,US,"590 N Alma School Rd, Chandler, AZ 85224, USA",33.311682,33.311682,-111.859979,-111.859979,0.0,"Barbers, Beauty & Spas",EjEyOCwgNTkwIE4gQWxtYSBTY2hvb2wgUmQsIENoYW5kbG...,ChIJDwIgJ6sAK4cR21dg0BIKCnU,OK,OK
2341,DFZnNrIZu1_oHv-4aaxJbg,Taste Of Thai,124 E Sangamon Ave,Rantoul,IL,128 East Sangamon Avenue,Rantoul,IL,US,"128 E Sangamon Ave, Rantoul, IL 61866, USA",40.310398,40.310398,-88.157689,-88.157689,0.0,"Thai, Vietnamese, Restaurants, Asian Fusion",ChIJq6oau-gfDYgRFczdVeHQ5Nk,ChIJcXwdu-gfDYgRAffq_z8S2wM,OK,OK

In [65]:
print("""Min value for calc_distance: {} meters
Max value for calc_distance: {} meters
Mean value for calc_distance: {} meters
Median for calc_distance: {} meters""".format(
                            df_test['dist_diff'].min(), 
                            df_test['dist_diff'].max(), 
                            df_test['dist_diff'].mean(),
                            df_test['dist_diff'].median(),


))

Min value for calc_distance: 0.0 meters
Max value for calc_distance: 7496171.563305463 meters
Mean value for calc_distance: 90272.86056974754 meters
Median for calc_distance: 5.08889081764884 meters

In [66]:
df_test.dist_diff.describe()

count    2.853000e+03
mean     9.027286e+04
std      4.783915e+05
min      0.000000e+00
25%      0.000000e+00
50%      5.088891e+00
75%      4.448364e+01
max      7.496172e+06
Name: dist_diff, dtype: float64

In [67]:
ranges = [0,15]
temp_var = 15
while temp_var <= int(df_test['dist_diff'].max()):
    temp_var *=2
    ranges.append(temp_var) 
print(int(df_test['dist_diff'].max()))
print(ranges)
print(len(ranges))
k = df_test[~df_test['dist_diff'].isnull()]

7496171
[0, 15, 30, 60, 120, 240, 480, 960, 1920, 3840, 7680, 15360, 30720, 61440, 122880, 245760, 491520, 983040, 1966080, 3932160, 7864320]
21

In [68]:
k.groupby(pd.cut(
                k['dist_diff'], 
                ranges)).count()['business_id']

dist_diff
(0, 15]               994
(15, 30]              243
(30, 60]              238
(60, 120]             190
(120, 240]            110
(240, 480]             53
(480, 960]             24
(960, 1920]            10
(1920, 3840]           14
(3840, 7680]            9
(7680, 15360]          20
(15360, 30720]         16
(30720, 61440]          7
(61440, 122880]         1
(122880, 245760]        8
(245760, 491520]       19
(491520, 983040]       42
(983040, 1966080]      48
(1966080, 3932160]     36
(3932160, 7864320]      7
Name: business_id, dtype: int64

In [69]:
QUANTILES = df_test.dist_diff.quantile([0.25,0.5,0.75])
Q1, Q3 = QUANTILES[0.25], QUANTILES[0.75]
print(Q1,Q3)
IQR = Q3 - Q1

0.0 44.483641290534365

In [70]:
np.array(np.bitwise_or(df_test.dist_diff <= Q1-IQR*1.5, df_test.dist_diff  >= Q3+IQR*1.5 )).astype(np.int64).sum()

439

In [71]:
#df_test[np.bitwise_or(df_test.dist_diff <= Q1-IQR*1.5, df_test.dist_diff  >= Q3+IQR*1.5 )].sort_values(by=['dist_diff'])

In [72]:
df_test.country_from_coord.unique()

array(['US', 'CA'], dtype=object)

In [73]:
df_test.state_from_coord.unique()

array(['AZ', 'AB', 'ON', 'NC', 'NV', 'QC', 'SC', 'OH', 'WI', 'PA', 'IL',
       'NY'], dtype=object)

In [74]:
print("""Address (null count): {}
Address (empty count): {}
City (null count): {}
City (empty count): {}
State (null count): {}
State (empty count): {}
--------------------------------------------
Address from coordinates (null count): {}
Address from coordinates (empty count): {}
City from coordinates (null count): {}
City from coordinates (empty count): {}
State from coordinates (null count): {}
State from coordinates (empty count): {}
""".format(
df_test [df_test.address.isnull()]['business_id'].count(),
df_test [df_test.address == '']['business_id'].count(),      
df_test [df_test.city.isnull()]['business_id'].count(),
df_test [df_test.city == '']['business_id'].count(),     
df_test [df_test.state.isnull()]['business_id'].count(),
df_test [df_test.state == '']['business_id'].count(),     

df_test [df_test.address_from_coord.isnull()]['business_id'].count(),
df_test [df_test.address_from_coord == '']['business_id'].count(),      
df_test [df_test.city_from_coord.isnull()]['business_id'].count(),
df_test [df_test.city_from_coord == '']['business_id'].count(),     
df_test [df_test.state_from_coord.isnull()]['business_id'].count(),
df_test [df_test.state_from_coord == '']['business_id'].count()   
     ))

Address (null count): 0
Address (empty count): 124
City (null count): 0
City (empty count): 0
State (null count): 0
State (empty count): 0
--------------------------------------------
Address from coordinates (null count): 0
Address from coordinates (empty count): 95
City from coordinates (null count): 0
City from coordinates (empty count): 6
State from coordinates (null count): 0
State from coordinates (empty count): 0

In [75]:
#Some invgeocoding calls return empty addresses

## Matching cities and states

In [80]:
df_fltStates = pd.DataFrame (df_test[np.bitwise_and(df_test.state != '', df_test.state_from_coord != '')][['business_id','state','state_from_coord']])

In [81]:
df_fltStates.shape

(3000, 3)

In [82]:
df_fltCities= pd.DataFrame (df_test[np.bitwise_and(df_test.city != '', df_test.city_from_coord != '')][['business_id','city','city_from_coord']])

In [83]:
df_fltCities.shape

(2994, 3)

In [84]:
print("""Cities match: {} out of {}
States match: {} out of {}
Filtered out null and empty values.""" .format(
df_fltCities[df_fltCities.city == df_fltCities.city_from_coord ].business_id.count(), df_fltCities.shape[0],
df_fltStates[df_fltStates.state == df_fltStates.state_from_coord ].business_id.count(), df_fltStates.shape[0]
))

Cities match: 2800 out of 2994
States match: 2995 out of 3000
Filtered out null and empty values.

In [85]:
df_fltAddresses= pd.DataFrame(df_test[np.bitwise_and(df_test.address != '', df_test.address_from_coord != '')][['business_id','address','address_from_coord']])

In [86]:
from fuzzywuzzy import fuzz
scores = np.zeros((df_fltAddresses.shape[0],1))

In [87]:
scores.shape

(2794, 1)

In [88]:
for idx, row in enumerate(df_fltAddresses.itertuples(index=False)):
    addr=row.__getattribute__('address')
    addr_c = row.__getattribute__('address_from_coord')
    score = fuzz.token_set_ratio(addr,addr_c)
    scores[idx,0] = score
df_fltAddresses['addr_score']= scores

In [90]:
df_fltAddresses.sort_values(by=['addr_score'],ascending=False).head(10)

,business_id,address,address_from_coord,addr_score
2672,1hceMTsoDKL40bgIqp1xkg,6432 Rea Road,6432 Rea Road,100.0
1325,LQ9WorDtNJXeEfA7GWIXTA,6355 Yonge Street,6355 Yonge Street,100.0
2745,wphF5TNh31RQ0a-nbrpqyw,B104-20 Broadleaf Avenue,20 Broadleaf Avenue,100.0
2856,zXO__HLv4CqHJ7LJNUOc2A,884 Danforth Avenue,884 Danforth Avenue,100.0
2857,r6bvqwhWy73SgyK_w8Y5Lg,2555 Victoria Park Avenue,2555 Victoria Park Avenue,100.0
410,yxTkyYEWzfsPbD58_Zblig,505 Highway 7 E,505 Highway 7,100.0
411,2DIQm_EDH7d422g6HxoTDA,621 Dixon,621 Dixon Road,100.0
934,LHqBSGDa3Iw7q_44RP9dVg,7001 Boulevard de la Vérendrye,7001 Boulevard de la Vérendrye,100.0
2744,Dht5tuQpI9m1DCuNG323xg,421 Bentley Street,421 Bentley Street,100.0
2261,YjyQlqHoB3Q9ysJGXiJuLA,33 Villiers Street,33 Villiers Street,100.0

In [91]:
df_with_scores= pd.DataFrame(pd.merge(df_test, df_fltAddresses[['business_id','addr_score']], on='business_id' ,how='left'))

In [92]:
df_with_scores.shape

(3000, 21)

In [93]:
df_with_scores.sort_values(by=['addr_score'], ascending=False)[ [ 'business_id',
            'name',
            'address',
            'city',
            'state',
            'address_from_coord',
            'addr_score',
            'city_from_coord',
            'state_from_coord',
            'country_from_coord', 
            'formatted_address_from_coord',      
            'latitude',
            'latitude_from_address',
            'longitude',
            'longitude_from_address',
            'dist_diff',   
            'categories',
            'place_id_from_address',
            'place_id_from_coord',
            'geocoding_status',
            'invgeocoding_status'
            ]].to_csv(path_or_buf='/Users/kemalm/Desktop/FinalGM/scoresSample.csv',index=False)

In [94]:
df_with_scores[~df_with_scores.isnull()].count() # for validation

business_id                     3000
name                            3000
address                         3000
city                            3000
state                           3000
address_from_coord              3000
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
place_id_from_address           2853
place_id_from_coord             3000
geocoding_status                2876
invgeocoding_status             3000
addr_score                      2794
dtype: int64

### Make a split

In [4]:
testing_df = pd.read_csv('/Users/kemalm/Desktop/FinalGM/scoresSample.csv')
testing_df.loc[ testing_df['address'].isnull(), 'address'] = ''
testing_df.loc[ testing_df['address_from_coord'].isnull(), 'address_from_coord'] = ''
testing_df.loc[ testing_df['city_from_coord'].isnull(), 'city_from_coord'] = ''

In [5]:
testing_df[~testing_df.isnull()].count()

business_id                     3000
name                            3000
address                         3000
city                            3000
state                           3000
address_from_coord              3000
addr_score                      2794
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
place_id_from_address           2853
place_id_from_coord             3000
geocoding_status                2876
invgeocoding_status             3000
dtype: int64

In [6]:
testing_df.shape

(3000, 21)

# Testing Place Search

In [38]:
url_placeSearch ="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&locationbias=circle:100@{},{}&key={}&fields=place_id,name,type,permanently_closed".format(
    'Meatball House'.replace(' ','%'),45.4884,-73.5682, api_key)
       
response_placeSearch =requests.get(url_placeSearch)
response_placeSearchJSON= response_placeSearch.json()

In [40]:
response_placeSearchJSON

{'candidates': [{'name': 'Meatball House',
   'place_id': 'ChIJLd5qjmQayUwRPy5fx6lhk2c',
   'types': ['restaurant', 'point_of_interest', 'food', 'establishment']}],
 'status': 'OK'}

In [37]:
url_placeDetails = 'https://maps.googleapis.com/maps/api/place/details/json?placeid={}&fields=name,types&key={}'.format(
'ChIJI2drjmQayUwRzU5g3kukboY',api_key)
resp = requests.get(url_placeDetails)
resp_dict = resp.json()
print(resp_dict)

{'html_attributions': [], 'result': {'name': '1752 Rue Notre-Dame Ouest', 'types': ['street_address']}, 'status': 'OK'}

# Obtaining info from Find Place (Places API)

In [7]:
testing_df.shape

(3000, 21)

In [8]:
flt_df_with_scores = pd.DataFrame(testing_df[np.bitwise_and(~testing_df.dist_diff.isnull(),~testing_df.addr_score.isnull())][testing_df.columns])

In [9]:
flt_df_with_scores.shape

(2771, 21)

In [10]:
flt_df_with_scores[(flt_df_with_scores.dist_diff <= 100) & (flt_df_with_scores.addr_score>=70) ][flt_df_with_scores.columns].shape

(2173, 21)

In [11]:
flt_list_of_dicts = flt_df_with_scores[(flt_df_with_scores.dist_diff <= 100) & (flt_df_with_scores.addr_score>=70) ][flt_df_with_scores.columns].to_dict('records')

In [12]:
len(flt_list_of_dicts), type(flt_list_of_dicts)

(2173, list)

In [13]:
len(flt_list_of_dicts)/41

53.0

In [16]:
def PlaceSearchHandlingRequest(record):
    dictObj=dict(record)
    
    b_name = record['name']
    b_lat = record['latitude']
    b_long = record['longitude']

    url_placeSearch ="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&locationbias=circle:100@{},{}&key={}&fields=place_id,name,type".format(
    b_name,b_lat,b_long ,api_key)
       
    resp_ps =requests.get(url_placeSearch)
    resp_psDict= resp_ps.json()
       
    dictObj['placeSearch_status'] = resp_psDict['status']  # 1
    if(dictObj['placeSearch_status']=='OK'):
        ObtainData(dictObj,resp_psDict)            
    return dictObj

In [17]:
def ObtainData(dictObj, resp_psDict):
    dictObj['business_place_id'] = resp_psDict['candidates'][0]['place_id'] #2
    dictObj['name_from_location']= resp_psDict['candidates'][0]['name']  #3
    listTypes = resp_psDict['candidates'][0]['types']
    strTypes =", ".join(listTypes)
    dictObj['categories_from_location']= strTypes   #4

In [18]:
import requests
import multiprocessing
import time as time

start = time.time()
counter = 0

dicts_with_even_name_types=[]
for i in range(0,len(flt_list_of_dicts),41):
    with multiprocessing.Pool( processes=multiprocessing.cpu_count()) as pool:
        dicts_with_even_name_types+=pool.map(PlaceSearchHandlingRequest, flt_list_of_dicts[i:i+41])
    counter+=41   
    print("Appended 41 rows. In total {}".format(counter))
    end = time.time()
    print("Execution time: ", end - start, " seconds.")

Appended 41 rows. In total 41
Execution time:  1.3877439498901367  seconds.
Appended 41 rows. In total 82
Execution time:  2.771635055541992  seconds.
Appended 41 rows. In total 123
Execution time:  4.159236907958984  seconds.
Appended 41 rows. In total 164
Execution time:  5.54879093170166  seconds.
Appended 41 rows. In total 205
Execution time:  6.930213928222656  seconds.
Appended 41 rows. In total 246
Execution time:  8.308640718460083  seconds.
Appended 41 rows. In total 287
Execution time:  9.692788124084473  seconds.
Appended 41 rows. In total 328
Execution time:  11.080191135406494  seconds.
Appended 41 rows. In total 369
Execution time:  12.462975025177002  seconds.
Appended 41 rows. In total 410
Execution time:  13.860663890838623  seconds.
Appended 41 rows. In total 451
Execution time:  15.233250856399536  seconds.
Appended 41 rows. In total 492
Execution time:  16.620210886001587  seconds.
Appended 41 rows. In total 533
Execution time:  18.013474941253662  seconds.
Appended 41 rows. In total 574
Execution time:  19.410805702209473  seconds.
Appended 41 rows. In total 615
Execution time:  20.78187894821167  seconds.
Appended 41 rows. In total 656
Execution time:  22.169805765151978  seconds.
Appended 41 rows. In total 697
Execution time:  26.139781951904297  seconds.
Appended 41 rows. In total 738
Execution time:  31.089346885681152  seconds.
Appended 41 rows. In total 779
Execution time:  35.13517189025879  seconds.
Appended 41 rows. In total 820
Execution time:  39.90575289726257  seconds.
Appended 41 rows. In total 861
Execution time:  44.059682846069336  seconds.
Appended 41 rows. In total 902
Execution time:  48.21386694908142  seconds.
Appended 41 rows. In total 943
Execution time:  52.78075695037842  seconds.
Appended 41 rows. In total 984
Execution time:  57.2644259929657  seconds.
Appended 41 rows. In total 1025
Execution time:  61.62956094741821  seconds.
Appended 41 rows. In total 1066
Execution time:  66.1126298904419  seconds.
Appended 41 rows. In total 1107
Execution time:  70.57208776473999  seconds.
Appended 41 rows. In total 1148
Execution time:  74.76075196266174  seconds.
Appended 41 rows. In total 1189
Execution time:  78.81330275535583  seconds.
Appended 41 rows. In total 1230
Execution time:  83.57717990875244  seconds.
Appended 41 rows. In total 1271
Execution time:  88.33957195281982  seconds.
Appended 41 rows. In total 1312
Execution time:  94.03223896026611  seconds.
Appended 41 rows. In total 1353
Execution time:  98.70358800888062  seconds.
Appended 41 rows. In total 1394
Execution time:  103.28057789802551  seconds.
Appended 41 rows. In total 1435
Execution time:  107.86665987968445  seconds.
Appended 41 rows. In total 1476
Execution time:  112.34134101867676  seconds.
Appended 41 rows. In total 1517
Execution time:  116.38991904258728  seconds.
Appended 41 rows. In total 1558
Execution time:  121.16521978378296  seconds.
Appended 41 rows. In total 1599
Execution time:  125.51002597808838  seconds.
Appended 41 rows. In total 1640
Execution time:  129.75257992744446  seconds.
Appended 41 rows. In total 1681
Execution time:  134.10957288742065  seconds.
Appended 41 rows. In total 1722
Execution time:  138.56562495231628  seconds.
Appended 41 rows. In total 1763
Execution time:  142.82872796058655  seconds.
Appended 41 rows. In total 1804
Execution time:  147.2925148010254  seconds.
Appended 41 rows. In total 1845
Execution time:  151.56368017196655  seconds.
Appended 41 rows. In total 1886
Execution time:  155.81609392166138  seconds.
Appended 41 rows. In total 1927
Execution time:  159.96066999435425  seconds.
Appended 41 rows. In total 1968
Execution time:  164.94490790367126  seconds.
Appended 41 rows. In total 2009
Execution time:  169.22658276557922  seconds.
Appended 41 rows. In total 2050
Execution time:  173.47633600234985  seconds.
Appended 41 rows. In total 2091
Execution time:  177.6421799659729  seconds.
Appended 41 rows. In total 2132
Execution time:  181.91329908370972  seconds.
Appended 41 rows. In total 2173
Execution time:  186.91731691360474  seconds.

In [19]:
len(dicts_with_even_name_types)

2173

In [20]:
savePlaceSearchForEveryCase = pd.DataFrame(dicts_with_even_name_types)[['business_id',
            'name',
            'name_from_location',
            'address',
            'city',
            'state',
            'address_from_coord',
            'addr_score',
            'city_from_coord',
            'state_from_coord',
            'country_from_coord', 
            'formatted_address_from_coord',      
            'latitude',
            'latitude_from_address',
            'longitude',
            'longitude_from_address',
            'dist_diff',   
            'categories',
            'categories_from_location',
            'place_id_from_address',
            'place_id_from_coord',
            'business_place_id',
            'geocoding_status',
            'invgeocoding_status',                                                                        
            'placeSearch_status'                                                    
]]

In [21]:
savePlaceSearchForEveryCase[~savePlaceSearchForEveryCase.isnull()].count()

business_id                     2173
name                            2173
name_from_location              2109
address                         2173
city                            2173
state                           2173
address_from_coord              2173
addr_score                      2173
city_from_coord                 2173
state_from_coord                2173
country_from_coord              2173
formatted_address_from_coord    2173
latitude                        2173
latitude_from_address           2173
longitude                       2173
longitude_from_address          2173
dist_diff                       2173
categories                      2162
categories_from_location        2109
place_id_from_address           2173
place_id_from_coord             2173
business_place_id               2109
geocoding_status                2173
invgeocoding_status             2173
placeSearch_status              2173
dtype: int64

In [22]:
savePlaceSearchForEveryCase.shape

(2173, 25)

In [23]:
savePlaceSearchForEveryCase.to_csv(path_or_buf='/Users/kemalm/Desktop/FinalGM/spasi_da_se_ne_gubi.csv',index=False)

In [24]:
merged_df = pd.DataFrame(        pd.merge(testing_df, 
         savePlaceSearchForEveryCase[['business_id','business_place_id','name_from_location','categories_from_location','placeSearch_status']],
         on='business_id',
         how='left'))

In [25]:
merged_df.shape

(3000, 25)

In [71]:
merged_df[merged_df.placeSearch_status =='OK'].shape

(1971, 25)

In [28]:
print(merged_df['placeSearch_status'].unique(),
merged_df['geocoding_status'].unique(),
merged_df['invgeocoding_status'].unique())

['OK' nan 'ZERO_RESULTS' 'REQUEST_DENIED'] ['OK' 'ZERO_RESULTS' 'REQUEST_DENIED' nan] ['OK']

In [29]:
merged_df[['business_id',
            'name',
            'name_from_location',
            'address',
            'city',
            'state',
            'address_from_coord',
            'addr_score',
            'city_from_coord',
            'state_from_coord',
            'country_from_coord', 
            'formatted_address_from_coord',      
            'latitude',
            'latitude_from_address',
            'longitude',
            'longitude_from_address',
            'dist_diff',   
            'categories',
            'categories_from_location',
            'place_id_from_address',
            'place_id_from_coord',
            'business_place_id',
            'geocoding_status',
            'invgeocoding_status',                                                                        
            'placeSearch_status'                                                    
]].to_csv(path_or_buf='/Users/kemalm/Desktop/FinalGM/mrgSample.csv',index=False)

In [30]:
merged_df[~merged_df.isnull()].count()

business_id                     3000
name                            3000
address                         3000
city                            3000
state                           3000
address_from_coord              3000
addr_score                      2794
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
place_id_from_address           2853
place_id_from_coord             3000
geocoding_status                2876
invgeocoding_status             3000
business_place_id               2109
name_from_location              2109
categories_from_location        2109
placeSearch_status              2173
dtype: int64

# Final Dataset (?)

In [2]:
import psycopg2
import numpy as np
import pandas as pd
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import random as rn
import json

In [3]:
testing_mrgDataset = pd.read_csv('/Users/kemalm/Desktop/FinalGM//mrgSample.csv')
testing_mrgDataset.loc[ testing_mrgDataset['address'].isnull(), 'address'] = ''
testing_mrgDataset.loc[ testing_mrgDataset['address_from_coord'].isnull(), 'address_from_coord'] = ''
testing_mrgDataset.loc[ testing_mrgDataset['city_from_coord'].isnull(), 'city_from_coord'] = ''

In [4]:
testing_mrgDataset.shape

(3000, 25)

In [5]:
testing_mrgDataset[~testing_mrgDataset.isnull()].count()

business_id                     3000
name                            3000
name_from_location              2109
address                         3000
city                            3000
state                           3000
address_from_coord              3000
addr_score                      2794
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
categories_from_location        2109
place_id_from_address           2853
place_id_from_coord             3000
business_place_id               2109
geocoding_status                2876
invgeocoding_status             3000
placeSearch_status              2173
dtype: int64

In [6]:
testing_mrgDataset.head()

,business_id,name,name_from_location,address,city,state,address_from_coord,addr_score,city_from_coord,state_from_coord,...,longitude_from_address,dist_diff,categories,categories_from_location,place_id_from_address,place_id_from_coord,business_place_id,geocoding_status,invgeocoding_status,placeSearch_status
0,1hceMTsoDKL40bgIqp1xkg,Starbucks,Starbucks,6432 Rea Road,Charlotte,NC,6432 Rea Road,100.0,Charlotte,NC,...,-80.816995,9.529686,"Coffee & Tea, Food","cafe, store, point_of_interest, food, establis...",ChIJo18GonudVogR9ekBTl4V-CE,ChIJo18GonudVogR9ekBTl4V-CE,ChIJR_RWn3udVogRx4cfeLSF874,OK,OK,OK
1,LQ9WorDtNJXeEfA7GWIXTA,Starbucks,Starbucks,6355 Yonge Street,Toronto,ON,6355 Yonge Street,100.0,Toronto,ON,...,-79.419442,3.180084,"Food, Coffee & Tea","cafe, store, point_of_interest, food, establis...",ChIJRfwx1_0sK4gRxV1F-gxATs4,ChIJRfwx1_0sK4gRxV1F-gxATs4,ChIJNQXt2P0sK4gRyF8gjfCEw6g,OK,OK,OK
2,wphF5TNh31RQ0a-nbrpqyw,Olive That Tasting Bar,Olive That! Tasting Bar,B104-20 Broadleaf Avenue,Whitby,ON,20 Broadleaf Avenue,100.0,Whitby,ON,...,-78.958035,1.181710,"Food, Specialty Food","grocery_or_supermarket, store, point_of_intere...",EjJCMTA0LCAyMCBCcm9hZGxlYWYgQXZlLCBXaGl0YnksIE...,ChIJtX5ikeke1YkRNQO_9fjR3q4,ChIJS-bFhuke1YkRKIf75rl2py8,OK,OK,OK
3,zXO__HLv4CqHJ7LJNUOc2A,Red Dice,Red Hat Canada Ltd,884 Danforth Avenue,Toronto,ON,884 Danforth Avenue,100.0,Toronto,ON,...,-79.339836,0.000000,"Pizza, Restaurants, Chicken Wings","point_of_interest, establishment",ChIJO_sukobM1IkRDFPsqclHv1o,ChIJO_sukobM1IkRDFPsqclHv1o,ChIJwbmDRiMzK4gRztvVvgl_ZFo,OK,OK,OK
4,r6bvqwhWy73SgyK_w8Y5Lg,Starbucks,NaN,2555 Victoria Park Avenue,Toronto,ON,2555 Victoria Park Avenue,100.0,Toronto,ON,...,-79.321620,121.108905,"Sandwiches, Food, Restaurants, Coffee & Tea",NaN,ChIJ15ZCjUTS1IkRXKGy0wP-z_U,ChIJdTLliUTS1IkRbIpYhzH4nd0,NaN,OK,OK,NaN

In [7]:
import math as mt

In [8]:
from fuzzywuzzy import fuzz
import math as mt

list_of_buss =list() 
for idx, row in enumerate(testing_mrgDataset.itertuples(index=False)):
    dictObj=dict()
    
    business_id=row.__getattribute__('business_id')
    dictObj['business_id'] = business_id
    
    name=row.__getattribute__('name')
    dictObj['name'] = name

    name_frm_loc=row.__getattribute__('name_from_location')
    dictObj['name_from_location'] = name_frm_loc
       
    if(type(name_frm_loc)==str and name_frm_loc!=''):
        name_score = fuzz.token_set_ratio(name,name_frm_loc)
        dictObj['name_score'] = name_score
 
    cat=row.__getattribute__('categories')
    dictObj['categories'] = cat
    
    cat_frn_loc=row.__getattribute__('categories_from_location')
    dictObj['categories_from_location']= cat_frn_loc
    if(type(name_frm_loc)==str and cat_frn_loc!=''):     
        cat_frm_loc_filtered = cat_frn_loc.replace("point_of_interest","").replace("establishment","")
        categories_score = fuzz.token_set_ratio(cat,cat_frm_loc_filtered)
        dictObj['categories_score']= categories_score
    list_of_buss.append(dictObj)

In [9]:
len(list_of_buss)

3000

In [41]:
fuzz.token_set_ratio('coffee tea food', 'cafe store food,')

73

In [14]:
dict_buss = pd.DataFrame(list_of_buss)

In [17]:
df_accul=pd.DataFrame(pd.merge(testing_mrgDataset, 
         dict_buss[['business_id', 'name_score', 'categories_score']],
         on='business_id',
         how='left')[['business_id',
            'name',
            'name_from_location',
            'name_score',
            'address',
            'city',
            'state',
            'address_from_coord',
            'addr_score',
            'city_from_coord',
            'state_from_coord',
            'country_from_coord', 
            'formatted_address_from_coord',      
            'latitude',
            'latitude_from_address',
            'longitude',
            'longitude_from_address',
            'dist_diff',   
            'categories',
            'categories_from_location',
            'categories_score',
            'place_id_from_address',
            'place_id_from_coord',
            'business_place_id',
            'geocoding_status',
            'invgeocoding_status',                                                                        
            'placeSearch_status'     
]])

In [19]:
df_accul.to_csv(path_or_buf='/Users/kemalm/Desktop/FinalGM/allScoresSample.csv',index=False)

In [21]:
df_accul[~df_accul.isnull()].count()

business_id                     3000
name                            3000
name_from_location              2109
name_score                      2109
address                         3000
city                            3000
state                           3000
address_from_coord              3000
addr_score                      2794
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
categories_from_location        2109
categories_score                2109
place_id_from_address           2853
place_id_from_coord             3000
business_place_id               2109
geocoding_status                2876
invgeocoding_status             3000
placeSearch_status              2173
dtype: int64

In [22]:
#Continue...

In [23]:
df_allscores = pd.read_csv('/Users/kemalm/Desktop/FinalGM/allScoresSample.csv')
df_allscores.loc[ df_allscores['address'].isnull(), 'address'] = ''
df_allscores.loc[ df_allscores['address_from_coord'].isnull(), 'address_from_coord'] = ''
df_allscores.loc[ df_allscores['city_from_coord'].isnull(), 'city_from_coord'] = ''

In [24]:
df_allscores.shape

(3000, 27)

In [25]:
df_allscores[~df_allscores.isnull()].count()

business_id                     3000
name                            3000
name_from_location              2109
name_score                      2109
address                         3000
city                            3000
state                           3000
address_from_coord              3000
addr_score                      2794
city_from_coord                 3000
state_from_coord                3000
country_from_coord              3000
formatted_address_from_coord    3000
latitude                        3000
latitude_from_address           2853
longitude                       3000
longitude_from_address          2853
dist_diff                       2853
categories                      2984
categories_from_location        2109
categories_score                2109
place_id_from_address           2853
place_id_from_coord             3000
business_place_id               2109
geocoding_status                2876
invgeocoding_status             3000
placeSearch_status              2173
dtype: int64

# Identify suspicous patterns

In [68]:
import psycopg2
import numpy as np
import pandas as pd
try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")
cur = conn.cursor()
cur.execute("""SELECT state,  COUNT(business_id) AS total_Count
               FROM Businesses
               GROUP BY state 
               ORDER BY 2 DESC""")
statesQuery = cur.fetchall()

In [69]:
dct_states_prov_terr = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'AB': 'Alberta',
        'BC': 'British Columbia',
        'MB': 'Manitoba',
        'NB': 'New Brunswick',
        'NL': 'Newfoundland and Labrador',
        'NT': 'Northwest Territories',
        'NS': 'Nova Scotia',
        'NU': 'Nunavut',
        'ON': 'Ontario',
        'PE': 'Prince Edward Island',
        'QC': 'Quebec',
        'SK': 'Saskatchewan',
        'YT': 'Yukon'
}

In [70]:
df_statesQuery = pd.DataFrame(statesQuery, columns=['state','total_count'])

In [71]:
df_statesQuery.head()

  state  total_count
0    AZ        56686
1    NV        36312
2    ON        33412
3    NC        14720
4    OH        14697

In [72]:
df_statesQuery['state_exists'] = df_statesQuery['state'].isin(dct_states_prov_terr.keys())

In [73]:
#state_exist = np.array([ (el[0], int(el[0] in dct_states_prov_terr.keys())) for el in df_statesQuery])

In [74]:
df_statesQuery[df_statesQuery['state_exists'] == False]

   state  total_count  state_exists
14   XGM            4         False
19   XWY            2         False
25   DUR            1         False
27   DOW            1         False
29   BAS            1         False
31   CON            1         False
33   XGL            1         False

### Get corresponding records

In [79]:
rpl_str = str(list(df_statesQuery[df_statesQuery['state_exists'] == False]['state'].values)).replace('[','').replace(']','')

cur.execute("""SELECT *
         FROM Businesses
         WHERE state IN ({})""".format(rpl_str))
all_recs =cur.fetchall()

In [81]:
all_recs

[('svMJjPd4l_Zb_MoxejYZvw',
  'Zoom Printing',
  '1136 Center Street, Suite 442',
  'Thornhill',
  'DUR',
  'L4J 3M8',
  43.8085625817,
  -79.4638055695,
  3.5,
  3,
  1,
  {},
  'Professional Services, Advertising, Printing Services, Print Media, Mass Media, Local Services',
  {'Friday': '9:0-17:0',
   'Monday': '9:0-17:0',
   'Tuesday': '9:0-17:0',
   'Thursday': '9:0-17:0',
   'Wednesday': '9:0-17:0'}),
 ('d4qoXn1Rqt47LLTDA3bAwQ',
  'Thayer David Ice Cream Shop',
  '8 York St',
  'Bath',
  'BAS',
  'BA1 1NG',
  43.6406456,
  -79.380939,
  4.0,
  4,
  1,
  {'RestaurantsPriceRange2': '1'},
  'Food, Ice Cream & Frozen Yogurt',
  {}),
 ('8_GNJU3EPar9VkPzJvoC3w',
  'Bean & Brush Family Art Café',
  'The Old Sorting Office, 12 Hayfield Street',
  'Sale',
  'XGM',
  'M33 7XW',
  42.9960594,
  -89.568889,
  4.0,
  4,
  1,
  {'WiFi': "u'free'",
   'Caters': 'True',
   'BikeParking': 'True',
   'OutdoorSeating': 'True',
   'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "'casual'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsPriceRange2': '2',
   'RestaurantsReservations': 'False',
   'RestaurantsGoodForGroups': 'True'},
  'Arts & Crafts, Shopping, Coffee & Tea, Food',
  {'Friday': '8:30-19:0',
   'Monday': '8:30-19:0',
   'Sunday': '9:0-18:0',
   'Tuesday': '8:30-19:0',
   'Saturday': '8:30-19:0',
   'Thursday': '8:30-19:0',
   'Wednesday': '8:30-19:0'}),
 ('44xjnQMwAQjgZ80MW5z-Gg',
  'No. 37 Sandwich Bar',
  '37 Monk Bridge Road',
  'Leeds',
  'XWY',
  'LS6 4EP',
  45.456999,
  -73.59525,
  4.5,
  3,
  1,
  {'WiFi': "'no'",
   'Alcohol': "u'none'",
   'OutdoorSeating': 'True',
   'BusinessParking': "{'garage': False, 'validated': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "u'casual'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'True',
   'RestaurantsReservations': 'False'},
  'Bakeries, Food, Desserts, Restaurants, Sandwiches',
  {'Friday': '7:0-15:0',
   'Monday': '7:0-15:0',
   'Tuesday': '7:0-15:0',
   'Thursday': '7:0-15:0',
   'Wednesday': '7:0-15:0'}),
 ('eeEcf7XXAGClqdUCwnwRfg',
  'The Old Lifeboat House',
  'The Cove, Coverack Helston',
  'Church Cove',
  'CON',
  'TR12 6SX',
  35.532021,
  -80.8516825,
  3.5,
  3,
  1,
  {'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'False',
   'RestaurantsGoodForGroups': 'True'},
  'British, Restaurants',
  {}),
 ('JNZeVq9jr9AWURmnM-Yxig',
  'Total Gardening and Landscaping',
  '',
  'Bury',
  'XGM',
  'BL8 4DR',
  42.9960594,
  -89.568889,
  5.0,
  3,
  1,
  {'ByAppointmentOnly': 'False', 'BusinessAcceptsBitcoin': 'False'},
  'Home Services, Landscaping, Tree Services, Gardeners',
  {'Friday': '0:0-0:0',
   'Monday': '0:0-0:0',
   'Sunday': '0:0-0:0',
   'Tuesday': '0:0-0:0',
   'Saturday': '0:0-0:0',
   'Thursday': '0:0-0:0',
   'Wednesday': '0:0-0:0'}),
 ('6dhkHf-CFHr7C8wj-qopCQ',
  'Paper Cutz',
  'Gorebrook Works, Pinkbank Lane',
  'Manchester',
  'XGM',
  'M12 5GH',
  42.9960594,
  -89.568889,
  2.5,
  3,
  1,
  {'BusinessParking': "{'garage': False, 'validated': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsPriceRange2': '4'},
  'Art Supplies, Arts & Crafts, Shopping',
  {}),
 ('FByZsT1Sob5Vf1AYJFPxPg',
  'Desi Masala',
  '61 Queen Street',
  'Leeds',
  'XWY',
  'LS27 8EB',
  43.6528212,
  -79.3763454,
  4.5,
  5,
  1,
  {'WiFi': "'no'",
   'HasTV': 'True',
   'Alcohol': "'none'",
   'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",
   'NoiseLevel': "u'average'",
   'OutdoorSeating': 'False',
   'BusinessParking': "{'garage': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "u'dressy'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'True',
   'RestaurantsPriceRange2': '2',
   'RestaurantsReservations': 'True',
   'RestaurantsGoodForGroups': 'True'},
  'Indian, Pakistani, Restaurants',
  {}),
 ('xjR-PII302WyyNRfpcowDg',
  "Moxon's Fishmongers",
  '110 Islington High Street',
  'London',
  'XGL',
  'N1 8EG',
  43.645355,
  -79.524467,
  4.5,
  3,
  1,
  {'BusinessParking': "{'garage': False, 'street': True, 'lot': False, 'valet': False}",
   'WheelchairAccessible': 'True',
   'BusinessAcceptsBitcoin': 'False',
   'RestaurantsPriceRange2': '2'},
  'Specialty Food, Food, Seafood Markets',
  {'Friday': '9:0-19:30',
   'Tuesday': '9:0-19:30',
   'Saturday': '9:0-17:30',
   'Thursday': '9:0-19:30',
   'Wednesday': '9:0-19:30'}),
 ('ZsL7FUkaWdyQnDoYB6XpSA',
  'Happy Gathering Resturant Oldham',
  '',
  'Oldham',
  'XGM',
  'OL2 6PX',
  42.9960594,
  -89.568889,
  4.0,
  3,
  1,
  {},
  'Chinese, Restaurants',
  {}),
 ('U9uyfhpZ89VEH5_webJ5Xg',
  'Storm Cinemas - Belfast',
  'Odyssey Arena, 2 Queens Quay',
  'Down',
  'DOW',
  'BT33 0',
  43.6416582,
  -79.37603,
  3.0,
  4,
  1,
  {},
  'Arts & Entertainment',
  {})]

In [86]:
df_suspBus= pd.DataFrame(all_recs,columns=["business_id",
                                "name",
                                "address",
                                "city",
                                "state",
                                "postal_code",
                                "latitude",
                                "longitude",
                                "stars",
                                "review_count",
                                "is_open",
                                "attributes",
                                "categories",
                                "hours"])

In [88]:
df_suspBus

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,svMJjPd4l_Zb_MoxejYZvw,Zoom Printing,"1136 Center Street, Suite 442",Thornhill,DUR,L4J 3M8,43.808563,-79.463806,3.5,3,1,{},"Professional Services, Advertising, Printing S...","{'Friday': '9:0-17:0', 'Monday': '9:0-17:0', '..."
1,d4qoXn1Rqt47LLTDA3bAwQ,Thayer David Ice Cream Shop,8 York St,Bath,BAS,BA1 1NG,43.640646,-79.380939,4.0,4,1,{'RestaurantsPriceRange2': '1'},"Food, Ice Cream & Frozen Yogurt",{}
2,8_GNJU3EPar9VkPzJvoC3w,Bean & Brush Family Art Café,"The Old Sorting Office, 12 Hayfield Street",Sale,XGM,M33 7XW,42.996059,-89.568889,4.0,4,1,"{'WiFi': 'u'free'', 'Caters': 'True', 'BikePar...","Arts & Crafts, Shopping, Coffee & Tea, Food","{'Friday': '8:30-19:0', 'Monday': '8:30-19:0',..."
3,44xjnQMwAQjgZ80MW5z-Gg,No. 37 Sandwich Bar,37 Monk Bridge Road,Leeds,XWY,LS6 4EP,45.456999,-73.595250,4.5,3,1,"{'WiFi': ''no'', 'Alcohol': 'u'none'', 'Outdoo...","Bakeries, Food, Desserts, Restaurants, Sandwiches","{'Friday': '7:0-15:0', 'Monday': '7:0-15:0', '..."
4,eeEcf7XXAGClqdUCwnwRfg,The Old Lifeboat House,"The Cove, Coverack Helston",Church Cove,CON,TR12 6SX,35.532021,-80.851682,3.5,3,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","British, Restaurants",{}
5,JNZeVq9jr9AWURmnM-Yxig,Total Gardening and Landscaping,,Bury,XGM,BL8 4DR,42.996059,-89.568889,5.0,3,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Home Services, Landscaping, Tree Services, Gar...","{'Friday': '0:0-0:0', 'Monday': '0:0-0:0', 'Su..."
6,6dhkHf-CFHr7C8wj-qopCQ,Paper Cutz,"Gorebrook Works, Pinkbank Lane",Manchester,XGM,M12 5GH,42.996059,-89.568889,2.5,3,1,"{'BusinessParking': '{'garage': False, 'valida...","Art Supplies, Arts & Crafts, Shopping",{}
7,FByZsT1Sob5Vf1AYJFPxPg,Desi Masala,61 Queen Street,Leeds,XWY,LS27 8EB,43.652821,-79.376345,4.5,5,1,"{'WiFi': ''no'', 'HasTV': 'True', 'Alcohol': '...","Indian, Pakistani, Restaurants",{}
8,xjR-PII302WyyNRfpcowDg,Moxon's Fishmongers,110 Islington High Street,London,XGL,N1 8EG,43.645355,-79.524467,4.5,3,1,"{'BusinessParking': '{'garage': False, 'street...","Specialty Food, Food, Seafood Markets","{'Friday': '9:0-19:30', 'Tuesday': '9:0-19:30'..."
9,ZsL7FUkaWdyQnDoYB6XpSA,Happy Gathering Resturant Oldham,,Oldham,XGM,OL2 6PX,42.996059,-89.568889,4.0,3,1,{},"Chinese, Restaurants",{}
10,U9uyfhpZ89VEH5_webJ5Xg,Storm Cinemas - Belfast,"Odyssey Arena, 2 Queens Quay",Down,DOW,BT33 0,43.641658,-79.376030,3.0,4,1,{},Arts & Entertainment,{}

In [87]:
df_suspBus.to_csv(path_or_buf='/Users/kemalm/Desktop/suspBus.csv',index=False)