In [1]:
import json
import pandas as pd
import numpy as np
import csv
import time

# converting business.json to business.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_business = []
counter =0
with open('/Users/kemalm/Desktop/yelp_dataset/business.json',encoding='utf-8') as f:
    for line in f:
        listOfDicts_business.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 192609 dictionaries.
Execution time:  3.6180918216705322  seconds.

In [4]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/business.json

  192609 /Users/kemalm/Desktop/yelp_dataset/business.json

### naming a list of attributes

In [2]:
attr_arr = np.array(['business_id', 'name', 'address', 'city', 'state', 
                     'postal_code', 'latitude', 'longitude', 'stars', 
                     'review_count', 'is_open', 'attributes', 'categories', 'hours'])
print(attr_arr, type(attr_arr))

['business_id' 'name' 'address' 'city' 'state' 'postal_code' 'latitude'
 'longitude' 'stars' 'review_count' 'is_open' 'attributes' 'categories'
 'hours'] <class 'numpy.ndarray'>

<h3> checking if all json objects, we obtained from <i style="color:blue">business.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [6]:
df_containsfield= np.zeros((len(listOfDicts_business),len(attr_arr)))

for i in range(0,len(listOfDicts_business)):
    df_containsfield[i,:] = np.isin(attr_arr, np.array(list(listOfDicts_business[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((attr_arr.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(attr_arr)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

192609  number of records

Key associated with its frequency:
 [['business_id' 192609.0]
 ['name' 192609.0]
 ['address' 192609.0]
 ['city' 192609.0]
 ['state' 192609.0]
 ['postal_code' 192609.0]
 ['latitude' 192609.0]
 ['longitude' 192609.0]
 ['stars' 192609.0]
 ['review_count' 192609.0]
 ['is_open' 192609.0]
 ['attributes' 192609.0]
 ['categories' 192609.0]
 ['hours' 192609.0]]

<h3> number of null values per column</h3>

In [7]:
start = time.time()
for a in list(attr_arr):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/business.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

business_id
       0
name
       0
address
       0
city
       0
state
       0
postal_code
       0
latitude
       0
longitude
       0
stars
       0
review_count
       0
is_open
       0
attributes
   28836
categories
     482
hours
   44830

<h3> Creating a <i style="color:blue"> business.csv </i> file and writing data to it. </h3>

In [6]:
class mydict(dict):
        def __str__(self):
            return json.dumps(self)

In [15]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/business.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,list(attr_arr), delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_business:
        tempDict=dict(dictObj)    
        if tempDict.get('attributes') is not None:
            tempDict['attributes'] = mydict(tempDict['attributes']).__str__()
        else:
            tempDict['attributes']="{}"
            
        if tempDict.get('hours') is not None:
            tempDict['hours'] = mydict(tempDict['hours']).__str__()
        else:
            tempDict['hours']="{}"
        writer.writerow(tempDict)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 192609 rows
Execution time:  6.614404201507568  seconds.

# converting user.json to user.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_user = []
with open('/Users/kemalm/Desktop/yelp_dataset/user.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_user.append(json.loads(line))
        counter+=1
endend  = time.time()
print("Successfully appended {} rows".format(counter))
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 1637138 rows
Execution time:  42.027015209198  seconds.

In [5]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/user.json

 1637138 /Users/kemalm/Desktop/yelp_dataset/user.json

In [4]:
len(listOfDicts_user)

1637138

### naming a list of attributes

In [8]:
arr_user = np.array(['user_id', 'name', 'review_count', 'yelping_since', 'useful', 
                     'funny', 'cool', 'elite', 'friends', 'fans', 
                     'average_stars', 'compliment_hot', 'compliment_more', 'compliment_profile', 'compliment_cute', 
                     'compliment_list', 'compliment_note', 'compliment_plain', 'compliment_cool', 'compliment_funny', 
                     'compliment_writer', 'compliment_photos'])

<h3> checking if all json objects, we obtained from <i style="color:blue">user.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [9]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_user),len(arr_user)))

for i in range(0,len(listOfDicts_user)):
    df_containsfield[i,:] = np.isin(arr_user, np.array(list(listOfDicts_user[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_user.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_user)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

1637138  number of records

Key associated with its frequency:
 [['user_id' 1637138.0]
 ['name' 1637138.0]
 ['review_count' 1637138.0]
 ['yelping_since' 1637138.0]
 ['useful' 1637138.0]
 ['funny' 1637138.0]
 ['cool' 1637138.0]
 ['elite' 1637138.0]
 ['friends' 1637138.0]
 ['fans' 1637138.0]
 ['average_stars' 1637138.0]
 ['compliment_hot' 1637138.0]
 ['compliment_more' 1637138.0]
 ['compliment_profile' 1637138.0]
 ['compliment_cute' 1637138.0]
 ['compliment_list' 1637138.0]
 ['compliment_note' 1637138.0]
 ['compliment_plain' 1637138.0]
 ['compliment_cool' 1637138.0]
 ['compliment_funny' 1637138.0]
 ['compliment_writer' 1637138.0]
 ['compliment_photos' 1637138.0]]
Execution time:  111.81420087814331  seconds.

<h3> number of null values per column</h3> 
<h5 style="color:red;"> WARNING! Following method works very slow for very large datasets (user.json). </h5> 
<h5 style="color:red;"> Therefore, it shouldn't be run more than once. </h5>

In [9]:
start = time.time()
for a in list(arr_user):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/user.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

user_id
       0
name
       0
review_count
       0
yelping_since
       0
useful
       0
funny
       0
cool
       0
elite
       0
friends
       0
fans
       0
average_stars
       0
compliment_hot
       0
compliment_more
       0
compliment_profile
       0
compliment_cute
       0
compliment_list
       0
compliment_note
       0
compliment_plain
       0
compliment_cool
       0
compliment_funny
       0
compliment_writer
       0
compliment_photos
       0
Execution time:  963.2632689476013  seconds.

<h3> Creating a <i style="color:blue"> user.csv </i> file and writing data to it. </h3>

In [24]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/user.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,user_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_user:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 1637138 rows
Execution time:  75.70107102394104

In [47]:
!wc -l yelp_dataset/user.json
!echo "User.csv has one more row used as a header."
!wc -l yelp_dataset/user.csv

 1637138 yelp_dataset/user.json
User.csv has one more row used as a header.
 1637139 yelp_dataset/user.csv

# converting review.json to review.csv
### importing from json file

In [4]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_review = []
with open('/Users/kemalm/Desktop/yelp_dataset/review.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_review.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 6685900 dictionaries.
Execution time:  71.14869093894958  seconds.

In [6]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/review.json

 6685900 /Users/kemalm/Desktop/yelp_dataset/review.json

### naming a list of attributes

In [11]:
arr_review= np.array(['review_id', 'user_id', 'business_id', 'stars', 'useful',
                      'funny', 'cool', 'text', 'date'])

<h3> checking if all json objects, we obtained from <i style="color:blue">review.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_review),len(arr_review)))

for i in range(0,len(listOfDicts_review)):
    df_containsfield[i,:] = np.isin(arr_review, np.array(list(listOfDicts_review[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_review.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_review)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

6685900  number of records

Key associated with its frequency:
 [['review_id' 6685900.0]
 ['user_id' 6685900.0]
 ['business_id' 6685900.0]
 ['stars' 6685900.0]
 ['useful' 6685900.0]
 ['funny' 6685900.0]
 ['cool' 6685900.0]
 ['text' 6685900.0]
 ['date' 6685900.0]]
Execution time:  299.6732749938965  seconds.

<h3> number of null values per column</h3> 
<h5 style="color:red;"> WARNING! Following method works very slow for very large datasets (user.json). </h5> 
<h5 style="color:red;"> Therefore, it shouldn't be run more than once. </h5>

In [13]:
start = time.time()
for a in list(arr_review):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/review.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

review_id
       0
user_id
       0
business_id
       0
stars
       0
useful
       0
funny
       0
cool
       0
text
       0
date
       0
Execution time:  913.4484198093414  seconds.

In [3]:
review_cols = list(arr_review)
print(review_cols)

['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny', 'cool', 'text', 'date']

<h3> Creating a <i style="color:blue"> review.csv </i> file and writing data to it. </h3>

In [4]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/review.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,review_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_review:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 6685900 rows
Execution time:  232.80819010734558  seconds.

# converting checkin.json to checkin.csv
### importing from json file

In [7]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_checkin = []
with open('/Users/kemalm/Desktop/yelp_dataset/checkin.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_checkin.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 161950 dictionaries.
Execution time:  2.0320558547973633  seconds.

In [3]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/checkin.json

  161950 /Users/kemalm/Desktop/yelp_dataset/checkin.json

### naming a list of attributes

In [15]:
arr_checkin = np.array(['business_id', 'date'])

<h3> checking if all json objects, we obtained from <i style="color:blue">checkin.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [12]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_checkin),len(arr_checkin)))

for i in range(0,len(listOfDicts_checkin)):
    df_containsfield[i,:] = np.isin(arr_checkin, np.array(list(listOfDicts_checkin[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_checkin.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_checkin)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

161950  number of records

Key associated with its frequency:
 [['business_id' 161950.0]
 ['date' 161950.0]]
Execution time:  2.568455934524536  seconds.

<h3> number of null values per column</h3>

In [16]:
start = time.time()
for a in list(arr_checkin):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/checkin.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

business_id
       0
date
       0
Execution time:  14.164305925369263  seconds.

In [13]:
checkin_cols = list(arr_checkin)
print(checkin_cols)

['business_id', 'date']

<h3> Creating a <i style="color:blue"> checkin.csv </i> file and writing data to it. </h3>

In [6]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/checkin.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,checkin_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_checkin:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 161950 rows
Execution time:  9.046382665634155  seconds.

In [8]:
!wc -l yelp_dataset/checkin.json
!wc -l yelp_dataset/checkin.csv

  161950 yelp_dataset/checkin.json
  161951 yelp_dataset/checkin.csv

# converting tip.json to tip.csv
### importing from json file

In [3]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_tip = []
with open('/Users/kemalm/Desktop/yelp_dataset/tip.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_tip.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 1223094 dictionaries.
Execution time:  6.717769145965576  seconds.

In [6]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/tip.json

 1223094 /Users/kemalm/Desktop/yelp_dataset/tip.json

### naming a list of attributes

In [17]:
arr_tip = np.array(['user_id', 'business_id', 'text', 'date', 'compliment_count'])

<h3> checking if all json objects, we obtained from <i style="color:blue">tip.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_tip),len(arr_tip)))

for i in range(0,len(listOfDicts_tip)):
    df_containsfield[i,:] = np.isin(arr_tip, np.array(list(listOfDicts_tip[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_tip.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_tip)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

1223094  number of records

Key associated with its frequency:
 [['user_id' 1223094.0]
 ['business_id' 1223094.0]
 ['text' 1223094.0]
 ['date' 1223094.0]
 ['compliment_count' 1223094.0]]
Execution time:  30.554124116897583  seconds.

<h3> number of null values per column</h3>

In [18]:
start = time.time()
for a in list(arr_tip):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/tip.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

user_id
       0
business_id
       0
text
       0
date
       0
compliment_count
       0
Execution time:  25.752610683441162  seconds.

In [9]:
tip_cols = list(arr_tip)
print(tip_cols)

['user_id', 'business_id', 'text', 'date', 'compliment_count']

<h3> Creating a <i style="color:blue"> tip.csv </i> file and writing data to it. </h3>

In [16]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/tip.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,tip_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_tip:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully written 1223094 rows
Execution time:  8.033058166503906  seconds.

# converting photo.json to photo.csv
### importing from json file

In [6]:
start = time.time()
print("Executing the code ...\n")
listOfDicts_photo = []
with open('/Users/kemalm/Desktop/yelp_dataset/photo.json',encoding='utf-8') as f:
    counter=0
    for line in f:
        listOfDicts_photo.append(json.loads(line))
        counter+=1
print("Successfully appended {} dictionaries.".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

Successfully appended 200000 dictionaries.
Execution time:  0.9235949516296387  seconds.

In [2]:
!wc -l /Users/kemalm/Desktop/yelp_dataset/photo.json

  200000 /Users/kemalm/Desktop/yelp_dataset/photo.json

### naming a list of attributes

In [20]:
arr_photo = np.array(['caption', 'photo_id', 'business_id', 'label'])

<h3> checking if all json objects, we obtained from <i style="color:blue">photo.json </i> file, actually contain all keys, that yelp dataset documentation claims they do </h3>

In [10]:
start = time.time()
print("Executing the code ...\n")
df_containsfield= np.zeros((len(listOfDicts_photo),len(arr_photo)))

for i in range(0,len(listOfDicts_photo)):
    df_containsfield[i,:] = np.isin(arr_photo, np.array(list(listOfDicts_photo[i].keys()))).astype(np.int64)
print(df_containsfield.shape[0], " number of records\n")
tkeys_counter = np.zeros((arr_photo.shape[0],2), dtype=np.object)
tkeys_counter[:,0] = np.array(arr_photo)
tkeys_counter[:,1] = df_containsfield.sum(axis=0)
print("Key associated with its frequency: \n", tkeys_counter)

end=time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

200000  number of records

Key associated with its frequency:
 [['caption' 200000.0]
 ['photo_id' 200000.0]
 ['business_id' 200000.0]
 ['label' 200000.0]]
Execution time:  4.147678852081299  seconds.

<h3> number of null values per column</h3>

In [21]:
start = time.time()
for a in list(arr_photo):
    !echo $a
    !grep -e "\"$a\":null" /Users/kemalm/Desktop/yelp_dataset/photo.json | wc -l
end = time.time()
print("Execution time: ", end - start, " seconds.")

caption
       0
photo_id
       0
business_id
       0
label
       0
Execution time:  3.233721971511841  seconds.

In [9]:
photo_cols = list(arr_photo)
print(photo_cols)

['caption', 'photo_id', 'business_id', 'label']

<h3> Creating a <i style="color:blue"> photo.csv </i> file and writing data to it. </h3>

In [13]:
start = time.time()
print("Executing the code ...\n")
with open('/Users/kemalm/Desktop/yelp_dataset/photo.csv','w',encoding='utf-8') as csv_file:
    writer = csv.DictWriter(csv_file,photo_cols, delimiter='\t' )
    writer.writeheader()
    counter=0
    for dictObj in listOfDicts_photo:
        writer.writerow(dictObj)
        counter+=1
print("Successfully written {} rows".format(counter))
end = time.time()
print("Execution time: ", end - start, " seconds.")

Executing the code ...

NameError: name 'csv' is not defined

# Python-to-PostgreSQL client

In [1]:
import psycopg2
import pandas as pd

In [2]:
try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")

In [3]:
cur = conn.cursor()
#cur.execute("""select city,state, count(business_id)
#                from Businesses
#                where is_open = 1
#                group by city,state
#                order by 3 desc
#                limit 10""")
#recordsDB = cur.fetchall()

In [5]:
cur = conn.cursor()
cur.execute("""select business_id, name, address, city, state, latitude, longitude, categories, is_open
                from Businesses""")
recordsDB = cur.fetchall()

# Frequency

### US/Canada states/provinces by number of businesses

In [19]:
cur.execute("""SELECT state,  COUNT(business_id) AS Total_Count
               FROM Businesses
               WHERE is_open = 1
               GROUP BY state 
               ORDER BY 2 DESC""")
freqrecords = cur.fetchall()

In [20]:
pd.DataFrame(freqrecords, columns=['State','Total # of businesses']).head(10)

  State  Total # of businesses
0    AZ                  46910
1    NV                  29562
2    ON                  26525
3    OH                  12546
4    NC                  12419
5    PA                   9430
6    QC                   7623
7    AB                   6694
8    WI                   4210
9    IL                   1545

### Cities by number of businesses

In [17]:
cur.execute("""select city,state, count(business_id)
               from Businesses
               where is_open = 1
               group by city,state
               order by 3 desc""")
freqrecords = cur.fetchall()

In [18]:
pd.DataFrame(freqrecords, columns=['City','State','Total # of businesses']).head(10)

         City State  Total # of businesses
0   Las Vegas    NV                  23784
1     Phoenix    AZ                  15471
2     Toronto    ON                  14329
3   Charlotte    NC                   7945
4  Scottsdale    AZ                   7081
5     Calgary    AB                   6445
6  Pittsburgh    PA                   5736
7    Montréal    QC                   5163
8        Mesa    AZ                   5149
9   Henderson    NV                   4026

# Google Places: Sending HTTP Requests

In [16]:
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import numpy as np
import random as rn
import json

In [17]:
key_content= !cat /Users/kemalm/Desktop/gmAPI.txt
api_key = key_content[0]

In [18]:
fields = ['business_id','name', 'address', 'city', 'state', 'latitude', 'longitude', 'categories', 'is_open', 'hours']
#k = np.core.defchararray.add(np.array(['obt_']),np.array(fields))

#print(k)
indices =[x for x in range(0,len(fields))]
#print(indices)
mapDictIndexes = dict(zip(fields,indices))
print(mapDictIndexes)

{'business_id': 0, 'name': 1, 'address': 2, 'city': 3, 'state': 4, 'latitude': 5, 'longitude': 6, 'categories': 7, 'is_open': 8, 'hours': 9}

In [19]:
coordinates = np.array([[0,0],
                        [ 0, 180]])# Using the geodesic distance function.
m_dist = pdist(coordinates, # Coordinates matrix or tuples list
               lambda u, v: geodesic(u, v).kilometers)

In [10]:
smpl_lat,smpl_lng =  33.5221294, -112.0181866
url_api_place_nearbySearch ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=500&keyword={}&key={}".format(
smpl_lat,smpl_lng,'Arizona Biltmore Golf Club', api_key)
response_api_place_nearbySearch =requests.get(url_api_place_nearbySearch)

In [12]:
#print(json.dumps(response_api_place_nearbySearch.json()))

In [11]:
smpl_lat,smpl_lng =  33.626171,-111.915779
url_api_place_nearbySearch ="https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={},{}&radius=500&keyword={}&key={}".format(
smpl_lat,smpl_lng,'Precision Door Service', api_key)
response_api_place_nearbySearch =requests.get(url_api_place_nearbySearch)

In [109]:
smpl_address = '19420 N 59th Ave, Ste 13'.replace(' ','+')
url_geocoding = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(smpl_address,api_key)
response_geocoding = requests.get(url_geocoding)
response_geocodingJSON= response_geocoding.json()
#print(json.dumps(response_geocodingJSON))

#frm_address = response_geocodingJSON['results'][0]['formatted_address']
#frm_address.rsplit(',',4)

In [ ]:
smpl_address = '19420 N 59th Ave, Ste 13'.replace(' ','+')
url_geocoding = "https://maps.googleapis.com/maps/api/geocode/json?address={}&key={}".format(smpl_address,api_key)
response_geocoding = requests.get(url_geocoding)
response_geocodingJSON= response_geocoding.json()

In [110]:
response_geocodingJSON

{'results': [{'address_components': [{'long_name': '13',
     'short_name': '13',
     'types': ['subpremise']},
    {'long_name': '19420', 'short_name': '19420', 'types': ['street_number']},
    {'long_name': 'North 59th Avenue',
     'short_name': 'N 59th Ave',
     'types': ['route']},
    {'long_name': 'Arrowhead Ranch',
     'short_name': 'Arrowhead Ranch',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Glendale',
     'short_name': 'Glendale',
     'types': ['locality', 'political']},
    {'long_name': 'Maricopa County',
     'short_name': 'Maricopa County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'Arizona',
     'short_name': 'AZ',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '85308', 'short_name': '85308', 'types': ['postal_code']}],
   'formatted_address': '19420 N 59th Ave #13, Glendale, AZ 85308, USA',
   'geometry': {'location': {'lat': 33.6621745, 'lng': -112.1878351},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 33.6635234802915,
      'lng': -112.1864861197085},
     'southwest': {'lat': 33.6608255197085, 'lng': -112.1891840802915}}},
   'place_id': 'Ei0xMywgMTk0MjAgTiA1OXRoIEF2ZSwgR2xlbmRhbGUsIEFaIDg1MzA4LCBVU0EiHhocChYKFAoSCUWS24WJaCuHEcoYz4U7m1DcEgIxMw',
   'types': ['subpremise']}],
 'status': 'OK'}

# Obtaining info from Find Place (Places API)

In [1]:
import psycopg2
import numpy as np
import pandas as pd
import time
import requests
from scipy.spatial.distance import pdist
from geopy.distance import geodesic
import random as rn
import json

try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")
cur = conn.cursor()
cur.execute("""select business_id, name, address, city, state, latitude, longitude, categories
                from Businesses""")
recordsDB = cur.fetchall()

In [2]:
key_content= !cat /Users/kemalm/Desktop/gmAPI.txt
api_key = key_content[0]
fields = ['business_id','name', 'address', 'city', 'state', 'latitude', 'longitude', 'categories']
#k = np.core.defchararray.add(np.array(['obt_']),np.array(fields))

#print(k)
indices =[x for x in range(0,len(fields))]
#print(indices)
mapDictIndexes = dict(zip(fields,indices))
print(mapDictIndexes)

{'business_id': 0, 'name': 1, 'address': 2, 'city': 3, 'state': 4, 'latitude': 5, 'longitude': 6, 'categories': 7}

In [3]:
len(recordsDB)

192609

In [4]:
def HandlingRequest(record):
    dictObj=dict()
    
    business_name = record[mapDictIndexes['name']] 
    business_address = record[mapDictIndexes['address']]
    business_latitude = record[mapDictIndexes['latitude']]
    business_longitude = record[mapDictIndexes['longitude']]
    
    dictObj['business_id'] = record[mapDictIndexes['business_id']] 
    dictObj['name']= business_name
    dictObj['address']= business_address
    dictObj['city']= record[mapDictIndexes['city']]
    dictObj['state']= record[mapDictIndexes['state']]
    dictObj['latitude']= business_latitude
    dictObj['longitude']= business_longitude
    dictObj['categories']= record[mapDictIndexes['categories']]
    #dictObj['is_open']= record[mapDictIndexes['is_open']]
     

    url_placeSearch ="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&locationbias=circle:1000@{},{}&key={}&fields=place_id,name,formatted_address,geometry,type,permanently_closed".format(
    business_name,business_latitude,business_longitude, api_key)
       
    response_placeSearch =requests.get(url_placeSearch)
    response_placeSearchJSON= response_placeSearch.json()
       
    dictObj['found_by_coordinates_and_name'] = response_placeSearchJSON['status']
    if(dictObj['found_by_coordinates_and_name']=='OK'):
        ObtainData(dictObj,response_placeSearchJSON)            
    return dictObj

In [5]:
def ObtainData(dictObj, response_placeSearchJSON):
    place_id = response_placeSearchJSON['candidates'][0]['place_id']
    dictObj['obt_name']= response_placeSearchJSON['candidates'][0]['name']

    dictObj['formatted_address'] = response_placeSearchJSON['candidates'][0]['formatted_address']
    obt_lat,obt_lng =response_placeSearchJSON['candidates'][0]['geometry']['location']['lat'], response_placeSearchJSON['candidates'][0]['geometry']['location']['lng']
    dictObj['obt_latitude']= obt_lat
    dictObj['obt_longitude']= obt_lng
  
    coordinates=np.array([[dictObj['latitude'], dictObj['longitude']],[obt_lat,obt_lng]])
    #executing pdist function to calculate distance between spherical points (in kilometers) 
    m_dist = pdist(coordinates, # Coordinates matrix or tuples list
           lambda u, v: geodesic(u, v).kilometers)

    dictObj['calc_distance']= float(m_dist)* 1000.0
    listTypes = response_placeSearchJSON['candidates'][0]['types']
    strTypes =", ".join(listTypes)
    dictObj['obt_categories']= strTypes

In [6]:
import requests
import multiprocessing
import time as time


start = time.time()
counter = 0
sample = rn.sample(recordsDB,3000)
listOfDicts=[]
for item in sample:
    listOfDicts.append(HandlingRequest(item))   
    #pool.map(HandlingRequest, sample[i:i+100])
    counter+=1
    if(counter % 100 == 0):   
        print("Appended 100 rows. In total {}".format(counter))
        end = time.time()
        print("Execution time: ", end - start, " seconds.")

Appended 100 rows. In total 100
Execution time:  75.43434715270996  seconds.
Appended 100 rows. In total 200
Execution time:  152.0036449432373  seconds.
Appended 100 rows. In total 300
Execution time:  226.57839107513428  seconds.
Appended 100 rows. In total 400
Execution time:  304.3778040409088  seconds.
Appended 100 rows. In total 500
Execution time:  380.69230222702026  seconds.
Appended 100 rows. In total 600
Execution time:  457.28849601745605  seconds.
Appended 100 rows. In total 700
Execution time:  535.0108151435852  seconds.
Appended 100 rows. In total 800
Execution time:  613.0421051979065  seconds.
Appended 100 rows. In total 900
Execution time:  689.3292510509491  seconds.
Appended 100 rows. In total 1000
Execution time:  764.7993950843811  seconds.
Appended 100 rows. In total 1100
Execution time:  838.2211542129517  seconds.
Appended 100 rows. In total 1200
Execution time:  913.8778200149536  seconds.
Appended 100 rows. In total 1300
Execution time:  987.2141551971436  seconds.
Appended 100 rows. In total 1400
Execution time:  1061.8645250797272  seconds.
Appended 100 rows. In total 1500
Execution time:  1137.6489219665527  seconds.
Appended 100 rows. In total 1600
Execution time:  1211.789113998413  seconds.
Appended 100 rows. In total 1700
Execution time:  1288.5805850028992  seconds.
Appended 100 rows. In total 1800
Execution time:  1364.9717509746552  seconds.
Appended 100 rows. In total 1900
Execution time:  1440.2369101047516  seconds.
Appended 100 rows. In total 2000
Execution time:  1516.479863166809  seconds.
Appended 100 rows. In total 2100
Execution time:  1593.9659552574158  seconds.
Appended 100 rows. In total 2200
Execution time:  1672.8921880722046  seconds.
Appended 100 rows. In total 2300
Execution time:  1751.76216006279  seconds.
Appended 100 rows. In total 2400
Execution time:  1829.9755411148071  seconds.
Appended 100 rows. In total 2500
Execution time:  1908.5173070430756  seconds.
Appended 100 rows. In total 2600
Execution time:  1985.9324412345886  seconds.
Appended 100 rows. In total 2700
Execution time:  2068.8774769306183  seconds.
Appended 100 rows. In total 2800
Execution time:  2142.7087082862854  seconds.
Appended 100 rows. In total 2900
Execution time:  2341.8404779434204  seconds.
Appended 100 rows. In total 3000
Execution time:  2418.574182987213  seconds.

In [10]:
len(listOfDicts)

3000

In [21]:
df_data[df_data['found_by_coordinates_and_name']=='OK'].shape

(2861, 15)

In [22]:
df_data = pd.DataFrame(listOfDicts)

In [28]:
len(list(df_data.columns))

15

In [29]:
df_data[['business_id',
         'name',
         'obt_name',
         'address',
         'city',
         'state',
         'formatted_address',
         'latitude',
         'obt_latitude',
         'longitude', 
         'obt_longitude',
         'calc_distance',         
         'categories',
         'obt_categories',
         'found_by_coordinates_and_name'
           ]].head(10)

,business_id,name,obt_name,address,city,state,formatted_address,latitude,obt_latitude,longitude,obt_longitude,calc_distance,categories,obt_categories,found_by_coordinates_and_name
0,ZvtzjwRaGFfoDJ4gTQhrEw,Black Knight Restaurant & Tavern,Black Knight,858 College Street,Toronto,ON,"858 College St, Toronto, ON M6H 1A2, Canada",43.654294,43.654307,-79.423612,-79.423661,4.250673,"Dive Bars, Bars, Nightlife, Restaurants, Break...","restaurant, point_of_interest, food, establish...",OK
1,qt6niPHSiudRw7-dehZMpg,Anthony Vince Nail Spa,Anthony Vince Nail Spa,"6401 Morrison Blvd, Ste 3B",Charlotte,NC,"6401 Morrison Blvd #3B, Charlotte, NC 28211, USA",35.156215,35.156084,-80.831475,-80.831454,14.703001,"Nail Salons, Beauty & Spas, Waxing, Hair Remov...","beauty_salon, hair_care, point_of_interest, es...",OK
2,edX9ThdTmDRjnONHnu6ztw,AMF Scottsdale Lanes,Bowlmor Scottsdale,7300 E Thomas Rd,Scottsdale,AZ,"7300 E Thomas Rd, Scottsdale, AZ 85251, USA",33.480995,33.480822,-111.924736,-111.924711,19.345725,"Amusement Parks, Bowling, Active Life, Nightlife","bowling_alley, bar, restaurant, point_of_inter...",OK
3,jqsj8FQUa2w6G1XN4Gqrpg,Olive Kebab Restaurant,Olive Kebab Restaurant,2836 Lake Shore Boulevard W,Toronto,ON,"2836 Lake Shore Blvd W, Etobicoke, ON M8V 1H7,...",43.601685,43.601743,-79.501768,-79.501792,6.681898,"Mediterranean, Restaurants, Kebab","restaurant, point_of_interest, food, establish...",OK
4,O8Ll6NssNw-6_NsPNG01HQ,Renegade Electric,Renegade Electric,"2475 W Cheyenne Ave, Ste 150",North Las Vegas,NV,"2475 W Cheyenne Ave #150, North Las Vegas, NV ...",36.216348,36.216524,-115.175669,-115.175867,26.436596,"Home Services, Electricians","electrician, point_of_interest, establishment",OK
5,N5F_GgezZEPL-45BxO6FKQ,Walker's Liquor,Walker liquor,11009 N 19th Ave,Phoenix,AZ,"11009 N 19th Ave, Phoenix, AZ 85029, USA",33.586053,33.586068,-112.099263,-112.099219,4.444552,"Food, Beer, Wine & Spirits","liquor_store, store, point_of_interest, establ...",OK
6,r3PUyKIjYwz0N1b5DG9BlA,Phoenix Valley Mini Storage,Phoenix Valley Mini Storage,11000 N Cave Creek Rd,Phoenix,AZ,"3602 W Greenway Rd, Phoenix, AZ 85053, USA",33.585894,33.625947,-112.049534,-112.136035,9175.368473,"Home Decor, Home & Garden, Shopping, Self Stor...","storage, point_of_interest, establishment",OK
7,Io-S_cPy4ElhHUheHQJwhw,Old's Cool General Store,Old's Cool General Store,250 Westlake Avenue,Toronto,ON,"250 Westlake Ave, East York, ON M4C 4T4, Canada",43.694496,43.694496,-79.308436,-79.308436,0.000000,"Ice Cream & Frozen Yogurt, Convenience Stores,...","store, point_of_interest, food, establishment",OK
8,zdM9p4ZOXUb-kdRr8VPGQg,K1 Speed,"K1 Speed - Indoor Go Karts, Corporate Event Ve...",2425 South 21st Street,Phoenix,AZ,"2425 S 21st St, Phoenix, AZ 85034, USA",33.425464,33.425446,-112.034246,-112.034245,2.008886,"Active Life, Venues & Event Spaces, Amusement ...","restaurant, point_of_interest, food, establish...",OK
9,wOlQRgrLx9WtzLgj4TSTSQ,Eden,Eden Salon,"825 S Cooper Rd, Ste B9",Gilbert,AZ,"825 S Cooper Rd ste b9, Gilbert, AZ 85233, USA",33.334629,33.335051,-111.804608,-111.804514,47.662840,"Beauty & Spas, Hair Salons","beauty_salon, point_of_interest, establishment",OK

In [32]:
df_data[['business_id',
         'name',
         'obt_name',
         'address',
         'city',
         'state',
         'formatted_address',
         'latitude',
         'obt_latitude',
         'longitude', 
         'obt_longitude',
         'calc_distance',         
         'categories',
         'obt_categories',
         'found_by_coordinates_and_name'
           ]].to_csv(path_or_buf='/Users/kemalm/Desktop/Google Maps Data Matching/sample.csv',index=False)

In [33]:
url_placeSearch ="https://maps.googleapis.com/maps/api/place/findplacefromtext/json?input={}&inputtype=textquery&locationbias=circle:1000@{},{}&key={}&fields=place_id,name,formatted_address,geometry,type".format(
"Arizona Biltmore Golf Club",33.5221425,-112.0184807, api_key)
response = requests.get(url_placeSearch)
response_JSON= response.json()

# Identify suspicous patterns

In [68]:
import psycopg2
import numpy as np
import pandas as pd
try:
    conn=psycopg2.connect("dbname='yelpDB' user='postgres' host='localhost' password='P0$tgre$QL'")
except:
    print("I am unable to connect to the database")
cur = conn.cursor()
cur.execute("""SELECT state,  COUNT(business_id) AS total_Count
               FROM Businesses
               GROUP BY state 
               ORDER BY 2 DESC""")
statesQuery = cur.fetchall()

In [69]:
dct_states_prov_terr = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming',
        'AB': 'Alberta',
        'BC': 'British Columbia',
        'MB': 'Manitoba',
        'NB': 'New Brunswick',
        'NL': 'Newfoundland and Labrador',
        'NT': 'Northwest Territories',
        'NS': 'Nova Scotia',
        'NU': 'Nunavut',
        'ON': 'Ontario',
        'PE': 'Prince Edward Island',
        'QC': 'Quebec',
        'SK': 'Saskatchewan',
        'YT': 'Yukon'
}

In [70]:
df_statesQuery = pd.DataFrame(statesQuery, columns=['state','total_count'])

In [71]:
df_statesQuery.head()

  state  total_count
0    AZ        56686
1    NV        36312
2    ON        33412
3    NC        14720
4    OH        14697

In [72]:
df_statesQuery['state_exists'] = df_statesQuery['state'].isin(dct_states_prov_terr.keys())

In [73]:
#state_exist = np.array([ (el[0], int(el[0] in dct_states_prov_terr.keys())) for el in df_statesQuery])

In [74]:
df_statesQuery[df_statesQuery['state_exists'] == False]

   state  total_count  state_exists
14   XGM            4         False
19   XWY            2         False
25   DUR            1         False
27   DOW            1         False
29   BAS            1         False
31   CON            1         False
33   XGL            1         False

### Get corresponding records

In [79]:
rpl_str = str(list(df_statesQuery[df_statesQuery['state_exists'] == False]['state'].values)).replace('[','').replace(']','')

cur.execute("""SELECT *
         FROM Businesses
         WHERE state IN ({})""".format(rpl_str))
all_recs =cur.fetchall()

In [81]:
all_recs

[('svMJjPd4l_Zb_MoxejYZvw',
  'Zoom Printing',
  '1136 Center Street, Suite 442',
  'Thornhill',
  'DUR',
  'L4J 3M8',
  43.8085625817,
  -79.4638055695,
  3.5,
  3,
  1,
  {},
  'Professional Services, Advertising, Printing Services, Print Media, Mass Media, Local Services',
  {'Friday': '9:0-17:0',
   'Monday': '9:0-17:0',
   'Tuesday': '9:0-17:0',
   'Thursday': '9:0-17:0',
   'Wednesday': '9:0-17:0'}),
 ('d4qoXn1Rqt47LLTDA3bAwQ',
  'Thayer David Ice Cream Shop',
  '8 York St',
  'Bath',
  'BAS',
  'BA1 1NG',
  43.6406456,
  -79.380939,
  4.0,
  4,
  1,
  {'RestaurantsPriceRange2': '1'},
  'Food, Ice Cream & Frozen Yogurt',
  {}),
 ('8_GNJU3EPar9VkPzJvoC3w',
  'Bean & Brush Family Art Café',
  'The Old Sorting Office, 12 Hayfield Street',
  'Sale',
  'XGM',
  'M33 7XW',
  42.9960594,
  -89.568889,
  4.0,
  4,
  1,
  {'WiFi': "u'free'",
   'Caters': 'True',
   'BikeParking': 'True',
   'OutdoorSeating': 'True',
   'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "'casual'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsPriceRange2': '2',
   'RestaurantsReservations': 'False',
   'RestaurantsGoodForGroups': 'True'},
  'Arts & Crafts, Shopping, Coffee & Tea, Food',
  {'Friday': '8:30-19:0',
   'Monday': '8:30-19:0',
   'Sunday': '9:0-18:0',
   'Tuesday': '8:30-19:0',
   'Saturday': '8:30-19:0',
   'Thursday': '8:30-19:0',
   'Wednesday': '8:30-19:0'}),
 ('44xjnQMwAQjgZ80MW5z-Gg',
  'No. 37 Sandwich Bar',
  '37 Monk Bridge Road',
  'Leeds',
  'XWY',
  'LS6 4EP',
  45.456999,
  -73.59525,
  4.5,
  3,
  1,
  {'WiFi': "'no'",
   'Alcohol': "u'none'",
   'OutdoorSeating': 'True',
   'BusinessParking': "{'garage': False, 'validated': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "u'casual'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'True',
   'RestaurantsReservations': 'False'},
  'Bakeries, Food, Desserts, Restaurants, Sandwiches',
  {'Friday': '7:0-15:0',
   'Monday': '7:0-15:0',
   'Tuesday': '7:0-15:0',
   'Thursday': '7:0-15:0',
   'Wednesday': '7:0-15:0'}),
 ('eeEcf7XXAGClqdUCwnwRfg',
  'The Old Lifeboat House',
  'The Cove, Coverack Helston',
  'Church Cove',
  'CON',
  'TR12 6SX',
  35.532021,
  -80.8516825,
  3.5,
  3,
  1,
  {'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'False',
   'RestaurantsGoodForGroups': 'True'},
  'British, Restaurants',
  {}),
 ('JNZeVq9jr9AWURmnM-Yxig',
  'Total Gardening and Landscaping',
  '',
  'Bury',
  'XGM',
  'BL8 4DR',
  42.9960594,
  -89.568889,
  5.0,
  3,
  1,
  {'ByAppointmentOnly': 'False', 'BusinessAcceptsBitcoin': 'False'},
  'Home Services, Landscaping, Tree Services, Gardeners',
  {'Friday': '0:0-0:0',
   'Monday': '0:0-0:0',
   'Sunday': '0:0-0:0',
   'Tuesday': '0:0-0:0',
   'Saturday': '0:0-0:0',
   'Thursday': '0:0-0:0',
   'Wednesday': '0:0-0:0'}),
 ('6dhkHf-CFHr7C8wj-qopCQ',
  'Paper Cutz',
  'Gorebrook Works, Pinkbank Lane',
  'Manchester',
  'XGM',
  'M12 5GH',
  42.9960594,
  -89.568889,
  2.5,
  3,
  1,
  {'BusinessParking': "{'garage': False, 'validated': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsPriceRange2': '4'},
  'Art Supplies, Arts & Crafts, Shopping',
  {}),
 ('FByZsT1Sob5Vf1AYJFPxPg',
  'Desi Masala',
  '61 Queen Street',
  'Leeds',
  'XWY',
  'LS27 8EB',
  43.6528212,
  -79.3763454,
  4.5,
  5,
  1,
  {'WiFi': "'no'",
   'HasTV': 'True',
   'Alcohol': "'none'",
   'Ambience': "{'romantic': False, 'intimate': False, 'classy': False, 'hipster': False, 'touristy': False, 'trendy': False, 'upscale': False, 'casual': False}",
   'NoiseLevel': "u'average'",
   'OutdoorSeating': 'False',
   'BusinessParking': "{'garage': False, 'street': False, 'lot': False, 'valet': False}",
   'RestaurantsAttire': "u'dressy'",
   'RestaurantsTakeOut': 'True',
   'RestaurantsDelivery': 'True',
   'RestaurantsPriceRange2': '2',
   'RestaurantsReservations': 'True',
   'RestaurantsGoodForGroups': 'True'},
  'Indian, Pakistani, Restaurants',
  {}),
 ('xjR-PII302WyyNRfpcowDg',
  "Moxon's Fishmongers",
  '110 Islington High Street',
  'London',
  'XGL',
  'N1 8EG',
  43.645355,
  -79.524467,
  4.5,
  3,
  1,
  {'BusinessParking': "{'garage': False, 'street': True, 'lot': False, 'valet': False}",
   'WheelchairAccessible': 'True',
   'BusinessAcceptsBitcoin': 'False',
   'RestaurantsPriceRange2': '2'},
  'Specialty Food, Food, Seafood Markets',
  {'Friday': '9:0-19:30',
   'Tuesday': '9:0-19:30',
   'Saturday': '9:0-17:30',
   'Thursday': '9:0-19:30',
   'Wednesday': '9:0-19:30'}),
 ('ZsL7FUkaWdyQnDoYB6XpSA',
  'Happy Gathering Resturant Oldham',
  '',
  'Oldham',
  'XGM',
  'OL2 6PX',
  42.9960594,
  -89.568889,
  4.0,
  3,
  1,
  {},
  'Chinese, Restaurants',
  {}),
 ('U9uyfhpZ89VEH5_webJ5Xg',
  'Storm Cinemas - Belfast',
  'Odyssey Arena, 2 Queens Quay',
  'Down',
  'DOW',
  'BT33 0',
  43.6416582,
  -79.37603,
  3.0,
  4,
  1,
  {},
  'Arts & Entertainment',
  {})]

In [86]:
df_suspBus= pd.DataFrame(all_recs,columns=["business_id",
                                "name",
                                "address",
                                "city",
                                "state",
                                "postal_code",
                                "latitude",
                                "longitude",
                                "stars",
                                "review_count",
                                "is_open",
                                "attributes",
                                "categories",
                                "hours"])

In [88]:
df_suspBus

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,svMJjPd4l_Zb_MoxejYZvw,Zoom Printing,"1136 Center Street, Suite 442",Thornhill,DUR,L4J 3M8,43.808563,-79.463806,3.5,3,1,{},"Professional Services, Advertising, Printing S...","{'Friday': '9:0-17:0', 'Monday': '9:0-17:0', '..."
1,d4qoXn1Rqt47LLTDA3bAwQ,Thayer David Ice Cream Shop,8 York St,Bath,BAS,BA1 1NG,43.640646,-79.380939,4.0,4,1,{'RestaurantsPriceRange2': '1'},"Food, Ice Cream & Frozen Yogurt",{}
2,8_GNJU3EPar9VkPzJvoC3w,Bean & Brush Family Art Café,"The Old Sorting Office, 12 Hayfield Street",Sale,XGM,M33 7XW,42.996059,-89.568889,4.0,4,1,"{'WiFi': 'u'free'', 'Caters': 'True', 'BikePar...","Arts & Crafts, Shopping, Coffee & Tea, Food","{'Friday': '8:30-19:0', 'Monday': '8:30-19:0',..."
3,44xjnQMwAQjgZ80MW5z-Gg,No. 37 Sandwich Bar,37 Monk Bridge Road,Leeds,XWY,LS6 4EP,45.456999,-73.595250,4.5,3,1,"{'WiFi': ''no'', 'Alcohol': 'u'none'', 'Outdoo...","Bakeries, Food, Desserts, Restaurants, Sandwiches","{'Friday': '7:0-15:0', 'Monday': '7:0-15:0', '..."
4,eeEcf7XXAGClqdUCwnwRfg,The Old Lifeboat House,"The Cove, Coverack Helston",Church Cove,CON,TR12 6SX,35.532021,-80.851682,3.5,3,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsDel...","British, Restaurants",{}
5,JNZeVq9jr9AWURmnM-Yxig,Total Gardening and Landscaping,,Bury,XGM,BL8 4DR,42.996059,-89.568889,5.0,3,1,"{'ByAppointmentOnly': 'False', 'BusinessAccept...","Home Services, Landscaping, Tree Services, Gar...","{'Friday': '0:0-0:0', 'Monday': '0:0-0:0', 'Su..."
6,6dhkHf-CFHr7C8wj-qopCQ,Paper Cutz,"Gorebrook Works, Pinkbank Lane",Manchester,XGM,M12 5GH,42.996059,-89.568889,2.5,3,1,"{'BusinessParking': '{'garage': False, 'valida...","Art Supplies, Arts & Crafts, Shopping",{}
7,FByZsT1Sob5Vf1AYJFPxPg,Desi Masala,61 Queen Street,Leeds,XWY,LS27 8EB,43.652821,-79.376345,4.5,5,1,"{'WiFi': ''no'', 'HasTV': 'True', 'Alcohol': '...","Indian, Pakistani, Restaurants",{}
8,xjR-PII302WyyNRfpcowDg,Moxon's Fishmongers,110 Islington High Street,London,XGL,N1 8EG,43.645355,-79.524467,4.5,3,1,"{'BusinessParking': '{'garage': False, 'street...","Specialty Food, Food, Seafood Markets","{'Friday': '9:0-19:30', 'Tuesday': '9:0-19:30'..."
9,ZsL7FUkaWdyQnDoYB6XpSA,Happy Gathering Resturant Oldham,,Oldham,XGM,OL2 6PX,42.996059,-89.568889,4.0,3,1,{},"Chinese, Restaurants",{}
10,U9uyfhpZ89VEH5_webJ5Xg,Storm Cinemas - Belfast,"Odyssey Arena, 2 Queens Quay",Down,DOW,BT33 0,43.641658,-79.376030,3.0,4,1,{},Arts & Entertainment,{}

In [87]:
df_suspBus.to_csv(path_or_buf='/Users/kemalm/Desktop/suspBus.csv',index=False)